$color-primary: #ed1d25;
$red: #f51b1b;
$yellow: #ff9e19;
$white: #ffffff;
$light-gray: #dedede;
$mid-dark-gray: #898989;
$dark-gray: #525252;
$black: #000000;
$mid-gray: #f4f4f4;
$light-gray: #dedede;
$very-light-gray: #fafafa;
