$color-primary: #0075C9;
$red: #F51B1B;
$yellow: #FF9E19;
$white: #ffffff;
$light-gray: #dedede;
$mid-dark-gray: #898989;
$dark-gray: #525252;
$black: #000000;
$mid-gray: #F4F4F4;
$light-gray: #DEDEDE;
$very-light-gray: #FAFAFA;