.summary-note {
  //display: block !important;
}

.btn-ask-for-geolocation-cta {
  background: #0075C9;
  border: none;
  box-shadow: none;
}

.shp-option-text-label-single.vtex-omnishipping-1-x-leanShippingTextLabelSingle {
  font-size: 1.4rem;
}

.shp-option-text-price.vtex-omnishipping-1-x-optionPrice {
  display: none;
}

.vtex-omnishipping-1-x-dateLink.shp-datepicker-button.scheduled-delivery-choose {
  font-size: unset;
  background-color: #357edd;
  color: #fff;
}

.vtex-omnishipping-1-x-productItems.delivery-items {
  display: none;
}

.vtex-omnishipping-1-x-warning {
  .vtex-omnishipping-1-x-productItems.delivery-items {
    display: block;
    margin: 12px 0px;
  }
}

.link-logout-container {
  font-size: 0;
  #is-not-me {
    display: block;
    font-size: 15px;
    color: #0075C9;
  }
}

#client-profile-data {
  .box-client-info {
    p.client-email {
      margin-bottom: 1rem;
      label {
        margin-bottom: 4px;
      }
      span {
        font-size: 1.6rem;
      }
    }

    p.client-document {
      display: none !important;
    }

    p.newsletter {
      display: none !important;
    }
  }
}

#payment-data {
  .accordion-heading {
    @media screen and (max-width: 55em) {
      margin-left: 12px;
    }
  }
  .step {
    border: 1px solid #dedede;
  }

  .accordion-body.collapse.in.payment-body {
    .accordion-inner {
      p.notification[data-i18n="global.waiting"] {
        color: #545454;
        font-size: 0;
        font-weight: 400;
        line-height: 20px;
        margin-left: 8px;
        margin-top: 8px;
        &::before {
          font-size: 14px;
          content: "Selecciona un método de pago";
        }
      }
    }
  }
}

.accordion-inner.shipping-container {
  .shp-summary-group-price {
    display: none !important;
  }
}
.shp-summary-group-info {
  .shp-summary-group-price {
    display: none !important;
  }
}

p.disclaimer {
  margin-bottom: 8px;
  a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0075C9;
    text-decoration: none;
    &:hover {
      color: ligthen(#0075C9, 15%);
    }
  }
}

.accordion-toggle .link-box-edit {
  border: none !important;
  background: transparent !important;
}

.accordion-body.collapse.in.payment-body {
  margin-top: 8px;
}

.btn.btn-link.vtex-omnishipping-1-x-buttonCreateAddress,
.btn.btn-link.vtex-omnishipping-1-x-buttonEditAddress {
  text-decoration: none !important;
  font-size: 1.4rem;
  font-weight: bold;
  color: #0075C9;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background: lighten(#0075C9, 10%) !important;
}

.accordion-toggle-active {
  font-size: 1.8rem;
}

.vtex-omnishipping-1-x-pickupPointChange.button-change-pickup-point {
  font-size: 0 !important;
  &::before {
    content: "Ver todas las tiendas disponibles";
    font-size: 1.6rem;
  }
}

.description {
  .shipping-date {
    display: none;
  }
}

tr.Discounts {
  td.info {
    font-size: 0 !important;
    &::before {
      content: "Ahorraste";
      font-size: 1.4rem;
    }
  }
}

.link-choose-more-products-wrapper {
  #cart-choose-more-products {
    margin-bottom: 12px;
    font-size: 0 !important;
    line-height: unset !important;
    padding: 4px 0 !important;
    &::before {
      font-size: 1.4rem;
      content: "Agregar más productos";
    }
  }
}

.vtex-omnishipping-1-x-dateLink {
  max-width: 100%;
  @media (max-width: 55em) {
  }
}

.totalizers-list > .Shipping {
  display: table-row !important;
}

.cart-active .table .totalizers-list .Shipping {
  display: none !important;
}

#client-profile-data .client-pre-email fieldset.pre-email h3 label:before {
  content: "Por favor ingresa tu correo";
  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
  font-size: 2rem;
  display: block;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
  color: #525252;
}

#shipping-data {
  .vtex-omnishipping-1-x-addressFormPart1 {
    label {
      font-size: 1.4rem;
    }
    // Departamento -> Provincia
    label[for="ship-state"] {
      font-size: 0;
      &::before {
        font-size: 1.4rem;
        content: "Provincia";
      }
    }
    // Provincia -> Cantón
    label[for="ship-city"] {
      font-size: 0;
      &::before {
        font-size: 1.4rem;
        content: "Cantón";
      }
    }
    // Distrito -> Distrito
    label[for="ship-neighborhood"] {
      font-size: 0;
      &::before {
        font-size: 1.4rem;
        content: "Distrito";
      }
    }
  }
  .vtex-omnishipping-1-x-address {
    label {
      font-size: 1.4rem;
    }
    label[for="ship-street"] {
      font-size: 0;
      &::before {
        font-size: 1.4rem;
        content: "Residencial, Condominio o Calle";
      }
    }
  }

  .shp-alert.vtex-omnishipping-1-x-warning {
    margin-top: 12px;
    .shp-alert-disclaimer.vtex-omnishipping-1-x-disclaimer {
      #unavailable-delivery-disclaimer {
        font-size: 0;
        &::before {
          content: "Hay un ítem que no podemos despachar a esta dirección, por favor cambia la dirección o elimina el producto de tu carrito de compras.";
          font-size: 1.4rem;
        }

        span {
          display: block;
          margin-top: 16px;
        }
        a#remove-unavailable-items {
          color: #fff;
          font-weight: bold;
          width: 100%;
          padding: 10px 0;
          text-align: left;
          border: 0;
          height: 40px;
          font-size: 0;
          letter-spacing: 0px;
          text-decoration: none !important;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          &:before {
            content: "Eliminar del carrito";
            padding: 4px 12px;
            font-size: 1.4rem;
            background: #0075C9;
            text-shadow: none;
            border-radius: 4px;
            color: #fff;
          }
        }
      }
    }
  }
}

.shp-alert.vtex-omnishipping-1-x-alert.shp-alert-all-items-pickup {
  .shp-alert-content.vtex-omnishipping-1-x-content {
    .shp-alert-text.vtex-omnishipping-1-x-text {
      span {
        font-size: 0;
        &::before {
          font-size: 1.4rem;
          content: "Esta tienda solamente ofrece servicio de Recolección en Tienda (Pickup)";
        }
      }
    }
  }
}

.cart-template {
  .cart-links.cart-links-bottom {
    display: flex;
    flex-direction: column;
    .link-choose-more-products-wrapper {
      order: 1;
    }
    .btn-place-order-wrapper {
      order: 0;
    }
  }
}

.btn-link.show-more-items-button {
  border: 1px solid #357edd;
  font-size: 0;
  margin-bottom: 12px;
  &::before {
    font-size: 12px;
    content: "Mostrar más productos";
  }
}
