.cart-template-holder .cart {
  position: relative;
  &::after {
    content: 'Se informa al público que de detectarse alguna inconsistencia o error involuntario al publicar los precios o cualquier otro componente de la oferta al público en la plataforma de compras se procederá con la corrección inmediatamente, y si llegara a afectar tu pedido, se te informará de dicha situación. Cuando se trate de un precio irrisorio, Walmart se reserva el derecho de eliminar el producto afectado por el precio irrisorio de tu pedido. Se considera “precio irrisorio” un precio que es insignificante por pequeño o que mueve a risa y burla, según definición de “irrisorio” por la Real Academia Española. En caso aplique devolución de dinero ya pagado, la misma se realizará con preferencia del método original de pago.';
    font-style: italic;
    font-size: 1.15rem;
  }
  @media (max-width: 768px) {
    margin-bottom: 12px;
    &::after {
      position: relative;
    }
  }
}

#payment-data {
  .step.accordion-group.active {
    @media (min-width: 769px) {
      margin-bottom: 12px;
      &:after {
        position: relative;
        font-size: 1.15rem;
        font-style: italic;
        content: "El monto a pagar puede variar posteriormente de acuerdo con los artículos sustituidos, cancelados y los cambios de precio que puedan darse entre la fecha de realización del pedido y la entrega. El ajuste se verá reflejado en su tiquete de compra. Artículos sujetos a disponibilidad en tienda.";
      }
    }
    @media (max-width: 768px) {
      margin-bottom: 12px;
      &:after {
        position: relative;
        font-size: 1.15rem;
        font-style: italic;
        content: "El monto total a pagar puede variar por cambios en la orden. Artículos sujetos a disponibilidad en tienda";
      }
    }

    .box-payment-option.custom204PaymentGroupPaymentGroup {
      &:after {
        position: relative;
        font-size: 1.15rem;
        font-style: italic;
        //content: "Al realizar tu orden autorizas que se guarden los datos del medio de pago. y/o bancarios para futuras transacciones. En ningún caso será conservado el CCV.";
      }
    }
  }
}

/*Cart
'Se informa al público qué de detectarse alguna inconsistencia o error involuntario al publicar los precios o cualquier otro componente de la oferta en la plataforma de compras, se procederá con la corrección de forma inmediata, y si llegara a afectar su pedido, se le informará de dicha situación. En dicho supuesto, podrá confirmar si desea continuar con la compra, o bien cancelar el pedido y proceder con la devolución en caso de que se haya pagado y la mercadería aún no se haya entregado.'


Pago
Desktop 'El monto a pagar puede variar posteriormente de acuerdo con los artículos sustituidos, cancelados y los cambios de precio que puedan darse entre la fecha de realización del pedido y la entrega. El ajuste se verá reflejado en su tiquete de compra. Artículos sujetos a disponibilidad en tienda.'
Mobile 'El monto total a pagar puede variar por cambios en la orden. Artículos sujetos a disponibilidad en tienda'

Gateway
'Al realizar tu orden autorizas que se guarden los datos del medio de pago. y/o bancarios para futuras transacciones. En ningún caso será conservado el CCV.'
*/
