@import "../references";

.headerWrapper {
  .headerTitle {
    font-size: 1.25rem;
  }
  .confirmationMessageWrapper {
    background: #fafafa;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 24px;

    .confirmationIconContainer {
      display: flex;
      align-items: center;
    }
    .confirmationMessageTitle {
      font-weight: bold;
      margin-bottom: 1rem;
      color: #2faf00;
      font-size: 28px;
      letter-spacing: 1.12px;
    }
    .confirmationMessageContent {
      font-size: 14px;
      color: #525252;
      margin-bottom: 30px;
      line-height: 1.5;
      letter-spacing: 0.35px;
      .confirmationMessageEmail {
        color: #525252;
        font-weight: bold;
      }
    }
    .backToSiteButton {
      background: #ed1d25;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 257px;
      max-height: 59px;
      height: 59px;
      font-size: 14px;
    }
    .confirmationMessagesContainer {
      margin-left: 50px;
    }
    .backToSiteIcon {
      margin-top: 7px;
      margin-left: 10px;
    }
  }
}

@media (max-width: (1024px)) {
  .headerWrapper {
    margin-bottom: 24px;
    .confirmationMessageWrapper {
      flex-direction: column;
      justify-content: center;
      .confirmationIconContainer {
        display: flex;
        justify-content: center;
      }
      .confirmationMessagesContainer {
        margin-left: 0;
        .confirmationMessageTitle {
          font-size: 20px;
          text-align: center;
          margin-top: 10px;
        }
        .backToSiteButton {
          display: none;
        }
      }
    }
  }
}
