@import "../references";

.metodosDePagoWrapper {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 18px;
  @media (min-width: em(769px)) {
    margin-left: 4em;
    margin-right: 1em;
  }

  .title {
    margin-top: 12px;
  }

  .row {
    .paymentName {
      font-size: 0.875rem;
    }
    .paymentValue {
      font-size: 0.875rem;
      font-weight: bold;
    }
    .additionalInfoContainer {
      .collapseAdditionalInfoButton {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: none;
        text-align: left;
        font-family: "GothamBook", Arial, Helvetica, sans-serif;
        font-size: 0.875rem;
        font-weight: bold;
        margin-top: 18px;
        margin-bottom: 12px;
        padding: 6px;
        letter-spacing: 0px;
        color: #0075C9;
        opacity: 1;
      }
      .additionalInfo {
        .additionalInfoItem {
          font-size: 0.875rem;
        }
      }
    }
  }
}
