@import "../references";

.sectionPaquete {
  margin-top: 36px;
  background: #fff;
  border-radius: 5px;
  padding: 18px;
  margin-left: 0;
  .orderTitleContainer {
    border-bottom: 2px solid #dedede;
    margin-bottom: 20px;
    padding-bottom: 5px;
    align-items: center;
    @media screen and(max-width:768px){
      flex-direction: row;
    }
    .title {
      width: 100%;
      font-size: 20px;
      margin: 12px 0;
      margin-left: 10px;
    }
  }
  .shippingEstimate {
    font-weight: lighter;
    margin: 0;
  }

  .itemsTableWrapper {
    width: 100%;
    background: #fff;
    // border: 1px solid #dedede;
    border-radius: 5px;
    padding: 11px;
    margin-top: 15px;
    .itemsTableClose {
      height: 230px;
      max-height: 230px;
    }
    .itemsTableIsOpen {
      height: auto;
      max-height: max-content;
    }
    .itemsTable {
      width: 100%;
      border-collapse: collapse;
      display: flex;
      overflow: hidden;
      padding-right: 5px;
      transition: 0.3s all ease-out;
      .itemsTableBody {
        width: 100%;
      }
      .itemsTableHeader {
        font-size: 0.875rem;
      }

      .itemTableRow {
        border: 1px solid #dedede;
        width: 100%;
        display: grid;
        grid-template: 1fr/ 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        @media screen and(max-width:768px) {
          display:flex;
        }
        .tdWrapperQuantityPrice{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .itemQuantity{
          width: 78px!important;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          @media screen and (max-width:768px) {
            justify-content: flex-start;
          }
        }
        .itemTableCell {
          font-size: 0.9rem;
          font-weight: bold;
          padding: 12px 0;
          display: flex;
          align-items: center;
          .itemTableProductInfo {
            display: flex;
            align-items: center;
            .productImageWrapper {
              display: inline-block;
              margin-right: 10px;
              .productImage {
                border-radius: 5px;
                width: 40px;
                height: auto;
              }
            }

            .productName {
              display: inline-block;
              text-transform: capitalize;
              max-width: 338px;

              .measurementUnit {
                color: #898989;
                margin-top: 8px;
                font-weight: lighter;
              }
            }
          }
        }
      }
      @media (max-width: 768px) {
        padding-right: 0;
      }
    }
    .seeMoreButton {
      border: none;
      background-color: #f5f5f5;
      color: #000;
      text-decoration: underline;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      margin-top: 5px;
      cursor: pointer;
      font-weight: normal;
    }
  }

  .mobileItemsWrapper {
    .mobileItemsRow {
      margin: 16px 0;
      .productInfo {
        .productImageWrapper {
          display: inline-block;
          margin-right: 15px;
          .productImage {
            border-radius: 5px;
            width: 40px;
            height: auto;
          }
          .quantityBubble {
            position: absolute;
            top: 0;
            left: 28px;
            width: 16px;
            height: 16px;
            background-color: #ed1d25;
            border-radius: 100%;
            font-size: 0.75rem;
            color: #fff;
            text-align: center;
          }
        }
        .productName {
          display: inline-block;
          text-transform: capitalize;
          font-weight: bold;
          font-size: 0.75rem;
          display: flex;
          align-items: center;
        }
      }

      .productPrice {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.75rem;
      }
    }
  }
}
