.orderPlacedContainer {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  color: #525252;

  .orderPlacedTitleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .orderPlacedTitle {
      color: #525252;
      font-size: 24px;
      font-weight: bold;
    }
    .orderPlacedBackButton {
      text-decoration: none;
      color: #525252;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
  .orderPlacedWrapper {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 25px;
  }

  .section1 {
    .title {
      font-size: 1.25rem;
      margin: 12px 0;
    }
    .subtitle {
      margin: 0;
      margin-bottom: 12px;
      font-weight: normal;
    }
  }

  .buttonSeguirComprando,
  .buttonMisPedidos {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 12px;
    letter-spacing: 0px;
    opacity: 1;
    border-radius: 5px;
    width: 100%;
  }
  .buttonSeguirComprando {
    border: 1px solid #ed1d25;
    background-color: #ed1d25;
    color: #fff;
    &:hover {
    }
  }
  .buttonMisPedidos {
    border: 1px solid #ed1d25;
    background-color: #fff;
    color: #ed1d25;
    &:hover {
    }
  }

  @import "./header", "./sectionPaquete", "./orderSummaryWrapper",
    "./metodosDePago", "./shippingInfo";
}
