.walmartOrderPlaced {
  font-family: "GothamBook", Arial, Helvetica, sans-serif;
  color: #525252;

  .section1 {
    .title {
      font-size: 1.25rem;
      margin: 12px 0;
    }
    .subtitle {
      margin: 0;
      margin-bottom: 12px;
      font-weight: normal;
    }
  }

  .buttonSeguirComprando,
  .buttonMisPedidos {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-family: "GothamBook", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 12px;
    letter-spacing: 0px;
    opacity: 1;
    border-radius: 5px;
    width: 100%;
  }
  .buttonSeguirComprando {
    border: 1px solid #0075C9;
    background-color: #0075C9;
    color: #fff;
    &:hover {

    }
  }
  .buttonMisPedidos {
    border: 1px solid #0075C9;
    background-color: #fff;
    color: #0075C9;
    &:hover {

    }
  }

  @import "./header", "./sectionPaquete", "./orderSummaryWrapper",
    "./metodosDePago", "./shippingInfo";
}
