@import './references';

.openIconContainer {
  &::after {
    font-size: 13px !important;
    top: 45px !important;
    font-family: OpenSans;
    @media screen and (max-width: 768px) {
      top: 60px !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 769px) {
  .overlay {
    z-index: auto;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .drawer {
    padding-top: 2em;
  }
  .closeIconButton {
    display: block;
  }
}

.overlay--visible {
  opacity: 1 !important;
  backdrop-filter: blur(12px);
  background-color: #525252a1;
}

.drawer {
  height: fit-content;

  .drawerContent{
    .container {
      display: flex;
      width: 100%;
      padding: 0 0 28px;

      .menu {
        list-style: none;
        padding: 0;

        .link {
          display: flex;
          min-width: 272px;
          text-decoration: none;
          color: #525252;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: -0.22px;

          .childrenContainer {
            width: 100%;

            .item,
            .item2 {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &.current {
                background: rgb(222 222 222 / 46%);
              }
            }

            .item2 {
              justify-content: space-between;
              padding: 0 4px 0 16px;
            }

            .item {
              padding: 4px 4px 4px 16px;

              .menuContainer{
                display: flex;
                align-items: center;

                .iconContainer {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 24px;
                  height: 24px;
                  margin-right: 16px;
                }

                .iconGo {
                  margin-left: auto;
                }
              }
            }
          }
        }
      }

      .banners {
        max-width: 600px;
        margin-left: auto;
        margin-right: 46px;
        overflow: hidden;

        .secondBanners {
          display: flex;
          justify-content: space-between;
          margin-top: 16px;
        }
      }
    }
  }
}

.opened {
  max-width: inherit !important;
}

@media screen and (max-width: 768px) {
  .drawer {
    width: 80% !important;
    height: auto;

    .drawerContent{
      .drawerHeader {
        background: $primary;
        padding: 4px 16px 16px;

        .header {
          flex: 1;

          .logoImageWrapper {
            margin-right: auto;
            max-width: 50px;
          }

          .welcomeTextWrapper {
            margin-top: 12px;

            .welcomeText {
              font-size: 14px;
              line-height: 28px;
              font-weight: bold;
              margin-left: 8px;
            }
          }
        }
      }

      .container {
        .banners {
          display: none;
        }

        .column {
          width: 100%;
        }

        .colHeader{
          .backTo,
          .selectedSubcategory,
          .selectedCategory {
            display: flex;
            align-items: center;
            padding: 12px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            background: #F4F4F4;
          }

          .arrowIcon{
            transform: rotate(180deg);
            margin-right: 12px;
          }

          .selectedCategory {
            color: $primary;
            background-color: #FCFCFB;
            margin-top: 8px;
            padding-bottom: 0;

            .iconContainer{
              margin-right: 12px;
            }
          }

          .selectedSubcategory {
            margin-top: 8px;

            .label {
              margin-left: 12px;
            }
          }
        }

        .menu {
          .link {
            .childrenContainer {
              .item {
                padding: 4px 24px 4px 16px;
              }
            }
          }
        }
      }
    }
  }
}
