@import "./references";

:global(.vtex-flex-layout-0-x-flexRow--product-pag),
:global(.vtex-flex-layout-0-x-flexRow--product-pag-mobile) {
  .container {
    &.pdp {
      :global(.vtex-numeric-stepper__plus-button),
      :global(.vtex-numeric-stepper__minus-button) {
        width: 5em !important;
      }
    }
    padding: 1rem 0;

    //Add to cart button PDP

    :global(.vtex-add-to-cart-container-pdp) {
      :global(.vtex-add-to-cart-container-pdp-unity) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        :global(.vtex-numeric-stepper-wrapper) {
          max-width: 250px;
          width: 100%;
          :global(.vtex-numeric-stepper-container) {
            max-width: 250px;
            width: 100%;
            :global(.vtex-numeric-stepper__input) {
              appearance: none;
              margin: 0;
              border: 1px solid #dedede;
              border-left: 0;
              border-right: 0;
              width: 100%;
            }
            :global(.vtex-numeric-stepper__plus-button) {
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              transition: opacity 150ms ease 0s;
              border: 1px solid #dedede;
              height: 40px;
              width: 100%;
              background-color: #fff;
              border-left: 0;
              padding-right: 42px;
              box-sizing: border-box;
              margin: 0;
            }
            :global(.vtex-numeric-stepper__minus-button) {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              border: 1px solid #dedede;
              width: auto;
              transition: opacity 150ms ease 0s;
              padding-left: 42px;
              border-color: #dedede;
              border-right: 0;
              color: #898989;
            }
          }
        }
        :global(.vtex-measure-unit) {
          border: 1px solid #dedede;
          padding: 11px 13px;
          border-radius: 5px;
          margin-left: 15px;
          color: #898989;
          font-size: 14px;
        }
      }
      :global(.vtex-add-to-car) {
        margin: 0;
        margin-top: 10px;
        background: #ed1d25;
        color: #fff;
        padding: 11px 0;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 12px;
        :global(.vtex-add-to-cart-text) {
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    //End add to cart button  PDP
    :global(.vtex-button) {
      width: 100%;
      border-radius: 5px;
      //background-color: #ed1d25!important;
      color: #525252;

      :global(.vtex-button__label) {
        text-transform: capitalize;
      }
    }
    .quantitySelector {
      width: 100%;
      margin-top: 4rem;
      float: left;
      @media screen and (max-width: em(1024px)) {
        margin-top: 1rem;
      }

      :global(.vtex-numeric-stepper-wrapper) {
        :global(.vtex-numeric-stepper-container) {
          :global(.vtex-numeric-stepper__input) {
            border-right: none;
            border-left: none;
            outline: 0 !important;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            height: 32px;
            font-size: 13px;
            width: 50px !important;
            color: #525252;
          }

          :global(.vtex-numeric-stepper__plus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__plus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-left: none;
              outline: 0 !important;
              height: 32px;
              padding-right: 50px;
              color: #898989;

              @media screen and (max-width: em(768px)) {
                width: 2em !important;
                background-color: #fff;
                padding-right: 35px;
              }

              :global(.vtex-numeric-stepper_plus-button_text) {
                color: #898989;
              }
            }
          }

          :global(.vtex-numeric-stepper__minus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__minus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-right: none;
              width: 2em !important;
              height: 32px;
              background-color: #fff;
              padding-left: 50px;
              color: #898989;
              @media screen and (max-width: 768px) {
                padding-left: 35px;
              }
              :global(.vtex-numeric-stepper_minus-button_text) {
                color: #898989;
              }
            }
          }
        }
      }
    }
    .kg,
    .unidad {
      margin-top: 2rem;
    }
    .selectorContainer {
      height: 32px;
      width: 100%;
      float: left;
      .selector {
        height: 100%;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        text-transform: capitalize;
        :global(.vtex-button) {
          margin-top: 1rem;
          width: 100%;
        }
        .tipoCompraButton {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 5px;
          border: 1px solid #ed1d25;
          background-color: #fff;
          color: #525252;
          height: 100%;
          min-width: 100%;
          &:hover {
            background-color: #ed1d25;
            color: #fff;
          }
          &:disabled {
            cursor: default;
            background-color: #ed1d25;
            color: #fff;
          }
        }
      }
    }
  }
}
.customQuantitySelector {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
:global(.vtex-numeric-stepper-wrapper) {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--product-related) {
  :global(.vtex-product-summary-2-x-element) {
    .customQuantitySelector {
      :global(.vtex-button) {
        :global(.vtex-button__label) {
          color: #fff;
          .buttonDataContainer {
            &::after {
              content: "Comprar";
              font-size: 14px;
              font-weight: 700;
              text-transform: capitalize;
              line-height: 20px;
            }
            .buttonText {
              display: none;
            }
          }
        }
      }
    }
  }
}
:global(.vtex-flex-layout-0-x-flexRow--product-buy-btn) {
    :global(.vtex-add-to-cart-button-0-x-buttonText):disabled {
      font-size: 0;
      margin-left:-7px;
      &::after {
        font-size: 1.3rem;
        color: #ED1D25;
        content: "Indisponível :(";
      }
    }
  }

.quantitySelector {
  margin-top: 12px;
}
:global(.vtex-product-summary-2-x-element) {
  @media screen and (max-width: em(1024px)) {
    height: 450px;
  }
  .container {
    :global(.vtex-button):disabled {
      .buttonText {
        font-size: 0;
        &::after {
          font-size: 1.3rem;
          color: #ED1D25;
          content: "Indisponível :(";
        }
      }
    }
    // bottom: 15px;
    // position: absolute;
    width: 100%;
    padding-right: 0;
    @media screen and (max-width: em(1023px)) {
      bottom: auto !important;
      justify-content: center;
      .kg,
      .unidad {
        margin-top: -50px;
      }
    }
    :global(.vtex-button) {
      width: 100%;

      :global(.vtex-button__label) {
        text-transform: capitalize;
        font-size: 14px;
      }
    }
    &.pdp {
      :global(.vtex-numeric-stepper__plus-button),
      :global(.vtex-numeric-stepper__minus-button) {
        width: 5em !important;
        color: #898989;
      }
    }

    .quantitySelector {
      //z-index: 0;

      :global(.vtex-numeric-stepper-wrapper) {
        @media screen and (max-width: em(1023px)) {
          margin-top: 0;
        }
        :global(.vtex-numeric-stepper-container) {
          :global(.vtex-numeric-stepper__plus-button-container),
          :global(.vtex-numeric-stepper__minus-button-container) {
            z-index: 0;
          }
          :global(.vtex-numeric-stepper__input) {
            z-index: 0;
            @media screen and (max-width: em(425px)) {
              font-size: 11px;
            }
            border-right: none;
            border-left: none;
            outline: 0 !important;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            height: 32px;
            font-size: 13px;
            width: 50px !important;
            color: #525252;
          }

          :global(.vtex-numeric-stepper__plus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__plus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-left: none;
              outline: 0 !important;
              height: 32px;
              padding-right: 50px;
              color: #898989;
              @media screen and (max-width: em(768px)) {
                width: 2em !important;
                background-color: #fff;
              }
              @media screen and (max-width: 768px) {
                padding-right: 35px;
              }
              :global(.vtex-numeric-stepper_plus-button_text) {
                color: #898989;
              }
            }
          }

          :global(.vtex-numeric-stepper__minus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__minus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-right: none;
              width: 2em !important;
              height: 32px;
              background-color: #fff;
              padding-left: 50px;
              color: #898989;
              @media screen and (min-width: em(768px)) {
                width: 2em !important;
                height: 32px;
                background-color: #fff;
              }
              @media screen and (max-width: 768px) {
                padding-left: 35px;
              }
              :global(.vtex-numeric-stepper_minus-button_text) {
                color: #898989;
              }
            }
          }
        }
      }
    }

    .selectorContainer {
      justify-content: space-between;
      align-items: center;
      height: 32px;
      width: 100%;
      margin-top: 1rem;
      .selector {
        height: 100%;
        width: 47.5%;
        text-transform: capitalize;
        :global(.vtex-button) {
          color: #525252;
          background: transparent;
          //border: #ed1d25 1px solid;
          &:disabled {
            //:global(.vtex-button__label) {
            background: #ed1d25;
            border: #ed1d25 2.5px solid;
            color: white;
            //}
          }
          @media screen and (max-width: em(1023px)) {
            margin-top: 0;
          }
        }
        .tipoCompraButton {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 5px;
          border: 1px solid #ed1d25;
          background-color: #fff;
          color: #525252;
          height: 100%;
          min-width: 100%;
          &:hover {
            background-color: #ed1d25;
            color: #fff;
          }
          &:disabled {
            cursor: default;
            background-color: #ed1d25;
            color: #fff;
          }
        }
      }
    }
  }
}

:global(.vtex-shelf-1-x-sliderContainer--related-products),
:global(.vtex-flex-layout-0-x-flexRow--recommended-you) {
  :global(.vtex-product-summary-2-x-element) {
    @media screen and (max-width: em(1024px)) {
      height: 400px;
    }

    .container {
      @media screen and (max-width: em(1023px)) {
        bottom: 25px !important;
        width: 100% !important;
        // position: absolute;
        justify-content: center;
      }
    }
  }
}
:global(.vtex-shelf-1-x-sliderContainer--related-products) {
  :global(.vtex-product-summary-2-x-element) {
    .container {
      @media screen and (max-width: em(1023px)) {
        bottom: 25px !important;
      }
    }
  }
}

:global(.vtex-numeric-stepper__plus-button) {
  color: #898989;
}

:global(.vtex-minicart-2-x-minicartContentContainer) {
  .container {
    margin-top: 58px;
    height: auto;
    overflow-y: scroll;
  }
}

.container {
  .selectorContainer {
    .selectorKg {
      @media screen and (max-width: em(450px)) {
        :global(.vtex-button) {
          //border: #ed1d25 7px solid !important;
          //background-color: #ed1d25;
          :global(.vtex-button__label) {
            font-size: 0;
            &::after {
              content: "Kg";
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
  :global(.vtex-minicart-totalizer) {
    :global(.vtex-minicart-totalizer-label) {
      color: #fff;
      margin-top: 5px;
      .currencyContainer {
        .currencyGroup {
          &::after {
            content: ".";
          }
        }
      }
    }
  }
}

:global(.vtex-product-summary-2-x-container) {
  .installments_value {
    font-size: 12px;
    font-weight: 600;
    color: #525252;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 8px;
    @media (max-width: 768px) {
      font-size: 8px;
      padding-left: 6px;
      display: flex;
    }
  }
}
:global(.vtex-ispromotion-pdp),
:global(.vtex-ispromotion) {
  :global(.vtex-flex-layout-0-x-flexColChild--shadow-product) {
    &:nth-child(even) {
      background: #818181 !important;
    }
  }
  .installments_value {
    background: #818181 !important;
    color: #ffd500 !important;
    margin: 0 !important;
    padding: 0 20px;
    @media screen and (max-width: 768px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

:global(.vtex-product-summary-2-x-container--shelf-list) {
  .customQuantitySelector {
    position: absolute;
    bottom: 22px;
    top: auto;
    right: 24px;
    width: 100%;
    max-width: 210px;
  }

  :global(.vtex-numeric-stepper-wrapper) {
    max-width: 210px;
    position: absolute;
    right: 24px;
    bottom: 24px;

    :global(.vtex-numeric-stepper__input) {
      min-width: 32px;
      width: auto !important;
    }
  }
}

@media screen and (max-width: 768px) {
  :global(.vtex-product-summary-2-x-container--shelf-list) {
    .customQuantitySelector {
      bottom: 8px;
      width: auto;
      right: 12px;
    }

    :global(.vtex-numeric-stepper-wrapper) {
      max-width: 98px;
      right: 12px !important;
      top: auto !important;
      bottom: 12px !important;
    }
  }

  :global(.vtex-product-summary-2-x-containerNormal) .customQuantitySelector {
    position: absolute;
    top: 84px;
    right: 12px;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-right-col) {
  .triggerContainer {
    margin-top: 24px;
  }

  :global(.vtex-product-summary-2-x-container) {
    .installments_value {
      // display: none;
    }
  }
}
:global(.vtex-search-result-3-x-galleryItem--alternative) {
  :global(.vtex-product-summary-2-x-containerNormal--shelf-list) {
    .customQuantitySelector {
      top: 70px;
      :global(.vtex-button) {
        &:disabled {
          visibility: hidden;
          display: flex;
          &::after {
            content: "indisponível:(";
            visibility: visible;
            color: #ed1d25;
            font-size: 12px;
            margin-left: -115px;
            margin-top: -10px;
          }
        }
      }
    }
  }
}
/* :global(.vtex-product-price-1-x-savings--search-savings) {
  display: none;
} */
:global(.vtex-product-price-1-x-savings--search-savings) {
  @media screen and (max-width: 768px) {
    max-height: 15px;
    margin-right: 5px;
  }
}
:global(.vtex-isActualPromotion),
:global(.vtex-ispromotion) {
  :global(.vtex-product-price-1-x-savings--search-savings) {
    display: block !important;
    @media screen and (max-width: 768px) {
      display: none;
    }
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #62c462 !important;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelf-list-search) {
  .personalFlags {
    display: none;
  }
  .crmPriceCard {
    background: #818181;
  }
  .crmPrice {
    background: #5c5c5c;
    margin-bottom: 0;
  }
  // :global(.vtex-isActualpromotion), :global(.vtex-ispromotion) {
  .crmPriceCard,
  .crmPrice {
    border-radius: 0 0 0 5px !important;
    -webkit-border-radius: 0 0 0 5px !important;
    -moz-border-radius: 0 0 0 5px !important;
    -ms-border-radius: 0 0 0 5px !important;
    -o-border-radius: 0 0 0 5px !important;
    display: flex;
    align-items: center;
    padding: 13px 0;
    padding-top: 13px !important;
    @media screen and (max-width: 768px) {
      padding: 4px 0;
      padding-top: 4px !important;
      flex-direction: column;
      max-width: 108px;
      border-radius: 5px !important;
      align-items: flex-start;
    }
    .crmInstallmentsPdp {
      display: none;
    }
  }
  .crmDiscount {
    font-size: 14px;
    margin-left: 50px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--savings-porcentaje) {
  :global(.vtex-product-price-1-x-savings) {
    display: flex;
  }
  // }
}
:global(.vtex-search-2-x-biggy-autocomplete) {
  @media screen and (max-width: 768px) {
    .crmInstallmentsPdp {
      display: none;
    }
    .crmPrice {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }
    .crmTitle {
      font-size: 12px;
    }
    .crmDiscount {
      margin-left: 45px;
    }
  }
}
:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) {
  :global(.vtex-search-2-x-biggy-autocomplete) {
    :global(.vtex-search-2-x-tileList) {
      :global(.vtex-product-summary-2-x-container) {
        :global(.vtex-product-summary-2-x-clearLink) {
          :global(.vtex-product-summary-2-x-element) {
            :global(.vtex-flex-layout-0-x-flexRow) {
              .customQuantitySelector {
                top: 70px;
                :global(.vtex-button) {
                  margin-top: -20px;

                  &:disabled {
                    visibility: hidden;
                    display: flex;
                    &::after {
                      content: "indisponível";
                      visibility: visible;
                      color: #ed1d25;
                      font-size: 12px;
                      margin-left: -115px;
                      margin-top: -20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) {
  :global(.vtex-search-2-x-biggy-autocomplete) {
    :global(.vtex-search-2-x-tileList) {
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        background-color: #f4f4f4;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background: #f4f4f4;
      }

      &::-webkit-scrollbar-thumb {
        background: #ed1d25;
      }
    }
  }
}
:global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  .customQuantitySelector {
    width: auto;

    bottom: 32px;
    top: auto;
    right: 32px;

    @media screen and (max-width: em(450px)) {
      position: absolute;
      top: 50px;
    }
  }
}

@import "./order-placed/supermxmcr-orderplaced";

.keepShoppingButtonContainer {
  .keepShoppingButton {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .keepShoppingButtonLabel {
      width: 100%;
      border: 1px solid #ed1d25;
      color: #ed1d25;
      font-weight: bold;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .cartDepartmentsProductList {
    padding: 0;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--shadow-product) {
  .customQuantitySelector {
    :global(.vtex-button) {
      &:disabled {
        background-color: #dedede;
        color: #fff;
        border-color: #dedede;
        :hover {
          background-color: #dedede !important;
          border-color: #dedede !important;
        }
        :global(.vtex-button__label) {
          color: #ed1d25;
          &::after {
            content: "";
            display: none;
          }
        }
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexCol--shadow-product) {
  .crmPrice {
    background: #5c5c5c;
    margin: 0 !important;
    padding-top: 9px !important;
    border-radius: 30px 30px 0 0;
    padding-bottom: 0;
    @media screen and (max-width: 768px) {
      border-radius: 15px 15px 0 0;
      padding-top: 5px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .crmInstallmentsPdp {
      display: none;
    }
  }
  .crmTitle {
    margin-left: 15px !important;
  }
  .crmDiscount {
    padding: 0 15px;
  }
  .customQuantitySelector {
    @media screen and (min-width: 768px) {
      padding: 0 8px;
      margin-top: 8px;
    }
  }
  .crmBy {
    padding: 0 15px;
  }
  .crmInstallmentsPdp {
    padding: 0 15px;
    font-size: 8px;
    padding-bottom: 3px;
    @media screen and (max-width: 768px) {
      padding: 0 8px;
    }
  }
  :global(.vtex-flex-layout-0-x-flexColChild--shadow-product) {
    &:nth-child(even) {
      // background: #333333;
    }
  }
}
.cartDepartmentsProductList {
  .promotion_highlight {
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
}
:global(.vtex-minicart-2-x-minicartProductListContainer) {
  .promotion_highlight {
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--checkout-quantity-selector) {
  :global(.vtex-numeric-stepper__input) {
    border: 1px solid #dedede;
    border-left: 0;
    border-right: 0;
  }
  :global(.vtex-numeric-stepper__plus-button) {
    border: 1px solid #dedede;
    border-left: 0;
  }
  :global(.vtex-numeric-stepper__minus-button) {
    border: 1px solid #dedede;
    border-right: 0;
    :global(.vtex-numeric-stepper__minus-button__text) {
      color: #898989;
    }
  }
}
:global(.vtex-isActualpromotion) {
  .crmPriceCard {
    background: #5c5c5c !important;
    margin: 0 !important;
    padding-top: 9px !important;
    border-radius: 30px 30px 0 0;
    @media screen and (max-width: 768px) {
      border-radius: 15px 15px 0 0;
      padding-top: 5px !important;
    }
  }

  .installments_value {
    background: #5c5c5c !important;
  }
  .crmTitle {
    color: #ffffff;
    text-align: left;

    @media screen and (max-width: 768px) {
      margin-left: 8px !important;
    }
  }
  .crmDiscount {
    color: #e8c200;
    text-align: left;
    @media screen and (max-width: 768px) {
      padding: 0 8px !important;
    }
  }

  .installments_value {
    color: #e8c200 !important;
    margin: 0;
  }
  :global(.vtex-store-components-3-x-price_sellingPrice--summary) {
    :global(.vtex-store-components-3-x-currencyContainer--summary) {
      font-size: 18px !important;
      color: #ed1d25 !important;
    }
  }

  :global(.vtex-flex-layout-0-x-flexColChild--shadow-product):nth-child(even) {
    background: #818181 !important;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--shadow-product):nth-child(even) {
    background: #5c5c5c !important;
    max-height: 62px;
  }
}
:global(.vtex-flex-layout-0-x-flexColChild--shelf-list-product-info) {
  .hasPromotionLayout {
    position: relative;
    :global(.vtex-product-price-1-x-savings) {
      position: absolute;
      top: -32px;
      right: 5px;
      color: #fff !important;
      background-color: #62c462 !important;
      display: flex;
      @media screen and (max-width: 768px) {
        position: static !important;
        top: 0px;
        left: 0px;
      }
    }
  }
  .noPromotionLayout {
    position: relative;
    :global(.vtex-product-price-1-x-savings) {
      position: absolute;
      top: -30px;
      right: 0;
      color: #fff !important;
      background-color: #62c462 !important;
      display: flex;
      left: 130px;
      max-width: fit-content;
      @media screen and (max-width: 768px) {
        position: static !important;
        top: 0px;
        left: 0px;
      }
    }
  }
}
:global(.vtex-search-2-x-tileListItem) {
  .crmPriceCard {
    background: #5c5c5c 0% 0% no-repeat padding-box;
    border-radius: 0 0 6px 6px;
    margin: 0 !important;
    padding-top: 9px !important;
    opacity: 1;
    display: flex;
    padding: 11px;
    align-items: center;
    margin-right: -46px !important;
    @media screen and (max-width: 768px) {
    }
  }
  :global(.vtex-product-summary-2-x-container) {
    :global(.vtex-search-2-x-tileListItem) {
      :global(.vtex-store-components-3-x-price_sellingPrice--summary) {
        :global(.vtex-store-components-3-x-currencyContainer--summary) {
          color: #bababa !important;
        }
      }
    }

    .crmTitle {
      color: #ffffff;
      text-align: left;
      font-size: 12px;
      font-weight: 600px;

      @media screen and (max-width: 768px) {
        margin-left: 8px !important;
      }
    }
    .crmDiscount {
      color: #e8c200;
      text-align: center;
      font-size: 14px;
      padding-left: 60px;
      @media screen and (max-width: 768px) {
        padding: 0 8px !important;
        padding-left: 30px;
      }
    }

    .installments_value {
      color: #207e2c !important;
      margin: 0;
    }

    :global(.vtex-store-components-3-x-price_sellingPrice--summary) {
      :global(.vtex-store-components-3-x-currencyContainer--summary) {
        font-size: 18px !important;
        color: #ed1d25 !important;
      }
    }

    :global(.vtex-isActualpromotion) {
      :global(.vtex-store-components-3-x-price_sellingPrice--summary) {
        :global(.vtex-store-components-3-x-currencyContainer--summary) {
          color: #bababa !important;
        }
      }
    }

    :global(.vtex-flex-layout-0-x-flexColChild--shadow-product):nth-child(even) {
      background: #5c5c5c !important;
      max-height: 62px;
    }
  }
}
:global(.vtex-ispromotion) {
  .crmPrice {
    background: #818181 !important;
  }
  .installments_value {
    background: #818181 !important;
    color: #ffd500 !important;
    @media (max-width: 768px) {
      font-size: 8px;
      padding-left: 9px;
      display: flex;
    }
  }
  .crmTitle {
    color: #fff !important;

    @media screen and (max-width: 768px) {
      margin-left: 8px !important;
    }
  }
  .crmDiscount {
    color: #ffd500 !important;
    @media screen and (max-width: 768px) {
      padding: 0 8px !important;
    }
  }

  :global(.vtex-store-components-3-x-price_sellingPrice--summary) {
    :global(.vtex-store-components-3-x-currencyContainer--summary) {
      font-size: 18px !important;
    }
  }
  :global(.vtex-flex-layout-0-x-flexColChild--shadow-product):nth-child(even) {
    background: #818181 !important;
  }
}
.paymentBankNumberCodeContainer {
  flex-flow: row wrap;
  .paymentBankNumberCodeInput {
    height: 50px;
    border: none;
    width: 70%;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
    color: #525252;
    font-size: 20px;
    display: flex;
    overflow: hidden;
    word-break: break-all;
    margin: 0 auto;
    margin-top: 20px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .paymentBankNumberCodeButton {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ed1d25;
    color: #ed1d25;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  :global(.vtex-isActualpromotion),
  :global(.vtex-ispromotion) {
    .installments_value {
      background: #5c5c5c !important;
      color: #ffd500 !important;
      font-size: 8px;
      padding-left: 2px;
      padding-top: 0;
      display: flex;
      align-items: flex-start;
      padding-right: 0;
      padding-left: 8px;
    }
  }
  :global(.vtex-ispromotion) {
    .installments_value {
      background: #818181 !important;
      color: #ffd500 !important;
      font-size: 8px;
      padding-left: 2px;
      padding-top: 0;
      display: flex;
      align-items: flex-start;
      padding-right: 0;
    }
  }
}
:global(.vtex-flex-layout-0-x-flexCol--minicart-main-infos) {
  .customNumericStepperMessage {
    right: -45px;
  }
}
:global(.vtex-flex-layout-0-x-flexColChild--minicart-main-infos) {
  .promotion_highlight {
    line-height: initial;
    border-radius: 5px;
    padding: 3px 17px;
    min-height: 0px;
    height: auto;
    flex-direction: column;
    align-self: flex-start;
    :first-child {
      line-height: initial;
      text-align: center;
      font-size: 8px;
    }
    .promotion_highlight_price {
      margin: 0;
    }
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--minicart-quantity-selector) {
  .customNumericStepper {
    max-width: 90px;
  }
}
