@import "./references";

:global(.vtex-flex-layout-0-x-flexRow--product-pag),
:global(.vtex-flex-layout-0-x-flexRow--product-pag-mobile) {
  :global(.vtex-store-components-3-x-productImage) {
    max-height: 450px;
    @media screen and (max-width: em(1024px)) {
      max-height: fit-content;
    }
    :global(.vtex-store-components-3-x-productImagesGallerySlide) {
      max-height: 450px;
      :global(.vtex-store-components-3-x-productImageTag) {
        max-height: 450px !important;
      }
    }
  }
  .container {
    &.pdp {
      :global(.vtex-numeric-stepper__plus-button),
      :global(.vtex-numeric-stepper__minus-button) {
        width: 5em !important;
      }
    }
    padding: 1rem 0;

    //Add to cart button PDP

    :global(.vtex-add-to-cart-container-pdp) {
      max-width: 340px;
      :global(.vtex-add-to-cart-container-pdp-unity) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        :global(.vtex-numeric-stepper-wrapper) {
          max-width: 250px;
          width: 100%;
          :global(.vtex-numeric-stepper-container) {
            max-width: 250px;
            width: 100%;
            :global(.vtex-numeric-stepper__input) {
              appearance: none;
              margin: 0;
              border: 1px solid #dedede;
              border-left: 0;
              border-right: 0;
              width: 100%;
            }
            :global(.vtex-numeric-stepper__plus-button) {
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              transition: opacity 150ms ease 0s;
              border: 1px solid #dedede;
              height: 40px;
              width: 100%;
              background-color: #fff;
              border-left: 0;
              padding-right: 42px;
              box-sizing: border-box;
              margin: 0;
            }
            :global(.vtex-numeric-stepper__minus-button) {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              border: 1px solid #dedede;
              width: auto;
              transition: opacity 150ms ease 0s;
              padding-left: 42px;
              border-color: #dedede;
              border-right: 0;
              color: #898989;
            }
          }
        }
        :global(.vtex-measure-unit) {
          border: 1px solid #dedede;
          padding: 11px 13px;
          border-radius: 5px;
          margin-left: 15px;
          color: #898989;
          font-size: 14px;
        }
      }
      :global(.vtex-add-to-car) {
        margin: 0;
        margin-top: 10px;
        background: #ed1d25;
        color: #fff;
        padding: 11px 0;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 12px;
        :global(.vtex-add-to-cart-text) {
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    //End add to cart button  PDP
    :global(.vtex-button) {
      width: 100%;
      border-radius: 5px;
      //background-color: #ed1d25!important;
      color: #525252;

      :global(.vtex-button__label) {
        text-transform: capitalize;
      }
    }
    .quantitySelector {
      width: 100%;
      margin-top: 4rem;
      float: left;
      @media screen and (max-width: em(1024px)) {
        margin-top: 1rem;
      }

      :global(.vtex-numeric-stepper-wrapper) {
        :global(.vtex-numeric-stepper-container) {
          :global(.vtex-numeric-stepper__input) {
            border-right: none;
            border-left: none;
            outline: 0 !important;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            height: 32px;
            font-size: 13px;
            width: 50px !important;
            color: #525252;
          }

          :global(.vtex-numeric-stepper__plus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__plus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-left: none;
              outline: 0 !important;
              height: 32px;
              padding-right: 50px;
              color: #898989;

              @media screen and (max-width: em(768px)) {
                width: 2em !important;
                background-color: #fff;
                padding-right: 35px;
              }

              :global(.vtex-numeric-stepper_plus-button_text) {
                color: #898989;
              }
            }
          }

          :global(.vtex-numeric-stepper__minus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__minus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-right: none;
              width: 2em !important;
              height: 32px;
              background-color: #fff;
              padding-left: 50px;
              color: #898989;
              @media screen and (max-width: 768px) {
                padding-left: 35px;
              }
              :global(.vtex-numeric-stepper_minus-button_text) {
                color: #898989;
              }
            }
          }
        }
      }
    }
    .kg,
    .unidad {
      margin-top: 2rem;
    }
    .selectorContainer {
      height: 32px;
      width: 100%;
      float: left;
      .selector {
        height: 100%;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        text-transform: capitalize;
        :global(.vtex-button) {
          margin-top: 1rem;
          width: 100%;
        }
        .tipoCompraButton {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 5px;
          border: 1px solid #ed1d25;
          background-color: #fff;
          color: #525252;
          height: 100%;
          min-width: 100%;
          &:hover {
            background-color: #ed1d25;
            color: #fff;
          }
          &:disabled {
            cursor: default;
            background-color: #ed1d25;
            color: #fff;
          }
        }
      }
    }
  }
}
:global(.vtex-flex-layout-0-x-flexRow--product-buy-btn) {
  :global(.vtex-button):disabled {
    :global(.vtex-add-to-cart-button-0-x-buttonText) {
      font-size: 0;

      &::after {
        font-size: 1rem;
        color: white;
        content: "Indisponível";
      }
    }
  }
}
.quantitySelector {
  margin-top: 12px;
}
:global(.vtex-product-summary-2-x-element) {
  @media screen and (max-width: em(1024px)) {
    height: 450px;
  }
  .container {
    :global(.vtex-button):disabled {
      .buttonText {
        font-size: 0;
        &::after {
          font-size: 1rem;
          color: white;
          content: "Indisponível";
        }
      }
    }
    // bottom: 15px;
    // position: absolute;
    width: 100%;
    padding-right: 0;
    @media screen and (max-width: em(1023px)) {
      bottom: auto !important;
      justify-content: center;
      .kg,
      .unidad {
        margin-top: -50px;
      }
    }
    :global(.vtex-button) {
      width: 100%;

      :global(.vtex-button__label) {
        text-transform: capitalize;
        font-size: 14px;
      }
    }
    &.pdp {
      :global(.vtex-numeric-stepper__plus-button),
      :global(.vtex-numeric-stepper__minus-button) {
        width: 5em !important;
        color: #898989;
      }
    }

    .quantitySelector {
      //z-index: 0;

      :global(.vtex-numeric-stepper-wrapper) {
        @media screen and (max-width: em(1023px)) {
          margin-top: 0;
        }
        :global(.vtex-numeric-stepper-container) {
          :global(.vtex-numeric-stepper__plus-button-container),
          :global(.vtex-numeric-stepper__minus-button-container) {
            z-index: 0;
          }
          :global(.vtex-numeric-stepper__input) {
            z-index: 0;
            @media screen and (max-width: em(425px)) {
              font-size: 11px;
            }
            border-right: none;
            border-left: none;
            outline: 0 !important;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            height: 32px;
            font-size: 13px;
            width: 50px !important;
            color: #525252;
          }

          :global(.vtex-numeric-stepper__plus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__plus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-left: none;
              outline: 0 !important;
              height: 32px;
              padding-right: 50px;
              color: #898989;
              @media screen and (max-width: em(768px)) {
                width: 2em !important;
                background-color: #fff;
              }
              @media screen and (max-width: 768px) {
                padding-right: 35px;
              }
              :global(.vtex-numeric-stepper_plus-button_text) {
                color: #898989;
              }
            }
          }

          :global(.vtex-numeric-stepper__minus-button-container) {
            cursor: pointer;
            :global(.vtex-numeric-stepper__minus-button) {
              border-radius: 5px;
              border: 1px solid #dedede;
              border-right: none;
              width: 2em !important;
              height: 32px;
              background-color: #fff;
              padding-left: 50px;
              color: #898989;
              @media screen and (min-width: em(768px)) {
                width: 2em !important;
                height: 32px;
                background-color: #fff;
              }
              @media screen and (max-width: 768px) {
                padding-left: 35px;
              }
              :global(.vtex-numeric-stepper_minus-button_text) {
                color: #898989;
              }
            }
          }
        }
      }
    }

    .selectorContainer {
      justify-content: space-between;
      align-items: center;
      height: 32px;
      width: 100%;
      margin-top: 1rem;
      .selector {
        height: 100%;
        width: 47.5%;
        text-transform: capitalize;
        :global(.vtex-button) {
          color: #525252;
          background: transparent;
          //border: #ed1d25 1px solid;
          &:disabled {
            //:global(.vtex-button__label) {
            background: #ed1d25;
            border: #ed1d25 2.5px solid;
            color: white;
            //}
          }
          @media screen and (max-width: em(1023px)) {
            margin-top: 0;
          }
        }
        .tipoCompraButton {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 5px;
          border: 1px solid #ed1d25;
          background-color: #fff;
          color: #525252;
          height: 100%;
          min-width: 100%;
          &:hover {
            background-color: #ed1d25;
            color: #fff;
          }
          &:disabled {
            cursor: default;
            background-color: #ed1d25;
            color: #fff;
          }
        }
      }
    }
  }
}

:global(.vtex-shelf-1-x-sliderContainer--related-products),
:global(.vtex-flex-layout-0-x-flexRow--recommended-you) {
  :global(.vtex-product-summary-2-x-element) {
    @media screen and (max-width: em(1024px)) {
      height: 400px;
    }

    .container {
      @media screen and (max-width: em(1023px)) {
        bottom: 25px !important;
        width: 100% !important;
        // position: absolute;
        justify-content: center;
      }
    }
  }
}
:global(.vtex-shelf-1-x-sliderContainer--related-products) {
  :global(.vtex-product-summary-2-x-element) {
    .container {
      @media screen and (max-width: em(1023px)) {
        bottom: 25px !important;
      }
    }
  }
}

:global(.vtex-numeric-stepper__plus-button) {
  color: #898989;
}

:global(.vtex-minicart-2-x-minicartContentContainer) {
  .container {
    margin-top: 58px;
    height: auto;
    overflow-y: scroll;
  }
}

.container {
  .selectorContainer {
    .selectorKg {
      @media screen and (max-width: em(450px)) {
        :global(.vtex-button) {
          //border: #ed1d25 7px solid !important;
          //background-color: #ed1d25;
          :global(.vtex-button__label) {
            font-size: 0;
            &::after {
              content: "Kg";
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--menu-link) {
  :global(.vtex-minicart-totalizer) {
    :global(.vtex-minicart-totalizer-label) {
      color: #525252;
      .currencyContainer {
        .currencyGroup {
          &::after {
            content: ".";
          }
        }
      }
    }
  }
}

/* QUANTITY SELECTOR CUSTOM - SHELF */

:global(.vtex-product-summary-2-x-container) {
  :global(.vtex-numeric-stepper-container) {
    border: 1px solid #DEDEDE;
    border-radius: 5px;

    :global(.vtex-numeric-stepper__input),
    :global(.vtex-numeric-stepper__plus-button),
    :global(.vtex-numeric-stepper__minus-button) {
      border: 0;
      height: 32px;

      @media screen and (max-width: 767px) {
        height: 24px;
      }
    }

    @media screen and (max-width: 767px) {
      :global(.vtex-numeric-stepper__input) {
        font-size: 12px;
      }
    }

    :global(.vtex-numeric-stepper__input) {
      max-width: 64px;
    }

    :global(.vtex-numeric-stepper__plus-button-container) {
      margin-right: auto;
    }

    :global(.vtex-numeric-stepper__minus-button-container) {
      margin-left: auto;
    }

    @media screen and (max-width: 767px) {
      :global(.vtex-numeric-stepper__plus-button) {
        width: 24px !important;

        &::after {
          content: '';
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='8.461' viewBox='0 0 8.461 8.461'%3E%3Cpath id='Path_36155' data-name='Path 36155' d='M23.4,3.173H21.288V1.058a1.058,1.058,0,1,0-2.115,0V3.173H17.058a1.058,1.058,0,0,0,0,2.115h2.115V7.4a1.058,1.058,0,1,0,2.115,0V5.288H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16)' fill='%23ed1d25'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-size: contain;
          width: 8px;
          height: 8px;
          display: inline-block;
        }

        :global(.vtex-numeric-stepper__plus-button__text) {
          display: none;
        }
      }

      :global(.vtex-numeric-stepper__minus-button) {
        width: 24px !important;

        &::after {
          content: '';
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='2.134' viewBox='0 0 8.461 2.134'%3E%3Cpath id='Path_36484' data-name='Path 36484' d='M23.4,3.173H21.288c.017-.028-2.143,0-2.115,0H17.058a1.058,1.058,0,0,0,0,2.115h2.115c.021-.006,2.124.015,2.115,0H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16 -3.16)' fill='%23ed1d25'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-size: contain;
          width: 8px;
          height: 2px;
          display: inline-block;
        }

        :global(.vtex-numeric-stepper__minus-button__text) {
          display: none;
        }
      }
    }
  }
}

@import "./order-placed/supermxmcr-orderplaced";
