.openButton {
  @media (max-width: 48em) {
    padding-right: 0 !important;
  }
  :global(.vtex-button__label) {
    padding: 0;
  }
}

.button {
  :global(.vtex-button) {
    width: 100% !important;
  }
}
