.openIconContainer {
  &::after {
    font-size: 13px !important;
    top: 45px !important;
    font-family: OpenSans;
    @media screen and (max-width: 768px) {
      top: 60px !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 769px) {
  .overlay {
    z-index: auto;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .drawer {
    padding-top: 2em;
  }
  .closeIconButton {
    display: block;
  }
}
