@import "./references";

.minicartTitle {
  position: absolute;
  top: 14px;
  left: 36px;
  color: #fff;
  font-size: 0px;
  z-index: 99;
  padding-left: 1rem;

  &::after {
    content: "Meu carrinho";
    font-size: 18px;
    font-family: GothamBook;

    @media screen and (max-width: 60em) {
      padding-left: 15px;
    }
  }
}
.minicartContentContainer {
  :global(.vtex-product-list-0-x-availabilityMessageTextContainer) {
    font-size: 11px;
  }
  :global(.vtex-styleguide-9-x-input) {
    border-color: #e3e4e6;
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
  }
  .popupChildrenContainer {
    margin-top: 0;
  }
  :global(.vtex-product-list-0-x-productBrandName) {
    display: none;
  }

  :global(.vtex-product-list-0-x-productName) {
    font-size: 13px;
  }
  :global(.vtex-product-list-0-x-productPriceContainer) {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    :global(.vtex-product-list-0-x-productPriceCurrency) {
      margin-bottom: 0;
      margin-right: 1em;
    }
  }

  :global(.vtex-product-list-0-x-productImage) {
    max-height: 144px;
    width: auto;
  }

  :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    display: none;
  }

  :global(.vtex-numeric-stepper__input) {
    border-right: none;
    border-left: none;
    outline: 0 !important;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 32px;
    font-size: 13px;
    width: 50px !important;
    color: #525252;
  }

  :global(.vtex-numeric-stepper__minus-button) {
    border-radius: 5px;
    border: 1px solid #dedede;
    border-right: none;
    height: 32px;
  }
  :global(.vtex-numeric-stepper__minus-button__text) {
    color: #898989 !important;
  }
  :global(.vtex-numeric-stepper__plus-button) {
    border-radius: 5px;
    border: 1px solid #dedede;
    border-left: none;
    outline: 0 !important;
    height: 32px;
  }

  :global(.vtex-minicart-custom-contentBtns) {
    :global(.vtex-button) {
      min-height: 32px;
      font-size: 12px;
      text-transform: lowercase;
      background-color: #fff;
      color: #525252;
      margin-right: 8px;
      margin-top: 8px;

      :global(.vtex-button__label) {
        padding-left: 10px;
        padding-right: 10px;
        width: 4.1rem;
      }
    }
  }
}

.minicartIconContainer {
  .minicartQuantityBadge {
    border: 2px solid #ff9e19;
    background-color: #ff9e19;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    height: 13px;
    width: 13px;
    font-size: 12px;
    font-weight: bold;

    @media (max-width: em(768px)) {
      height: 11px;
      width: 12px;
    }
  }

  &::before {
    content: "";
    display: block;
    background: url(/arquivos/icon_minicart_header.svg) no-repeat 50%;
    background-size: 23px 23px !important;

    @media screen and (min-width: em(1024px)) {
      width: 23px;
      height: 23px;
    }

    @media (max-width: em(1023px)) {
      width: 23px;
      height: 23px;
      background-size: 23px 23px !important;
    }
  }

  .cartIcon {
    display: none;
  }
}

.minicartEmptyStateContainer {
  padding-left: 1.5rem;

  :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 0;

    &::before {
      content: "Seu carrinho está vazio";
      font-size: 16px;
      margin-top: 15px;
    }
  }
}
.openIconContainer {
  @media (max-width: em(768px)) {
    margin-left: -30px;
    padding-left: 0px;
  }
}
.minicartContainer {
  :global(.vtex-button) {
    :global(.vtex-button__label) {
      padding: 0 !important;
    }
  }
}
.minicartWrapperContainer {
  @media (max-width: em(768px)) {
    margin-right: 0px !important;
    padding-right: 0px;
  }
  @media screen and (min-width: em(320px)) {
    border-right: none;
    margin: 0;
    &::before {
      content: "";
      margin-right: 0;
    }
  }
  @media screen and (min-width: em(1024px)) {
    margin: 24px 0 24px 23px;
    padding-right: 10px;
    height: 24px;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
  .minicartWrapperContainer {
    .minicartContainer {
      // @media screen and (min-width: em(1024px)) {
      //   :global(.vtex-button__label) {
      //     &::before{
      //       content: "Mi carrito";
      //       margin-right: 6px;
      //       color: #333!important;
      //       font-size: 14px;
      //       font-weight: 600;
      //       text-transform: capitalize;
      //     }

      //   }
      // }
      :global(.vtex-minicart-2-x-minicartWrapperContainer) {
        :global(.vtex-button) {
          background-color: transparent !important;
        }
      }
      :global(.vtex-button) {
        outline: none !important;
        background: none !important;
        border: none !important;
      }
    }
  }
}
.minicartProductListContainer {
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}

:global(.vtex-toast) {
  display: none;
  background: $primary;
}

.minicartProductListContainer {
  overflow-x: hidden !important;
}

:global(.vtex-minicart-2-x-cartIcon) {
  display: none;
}

:global(.vtex-minicart-2-x-minicartCheckoutButton) {
  padding-left: 0px;
  padding-right: 0px;

  :global(.vtex-button) {
    background-color: #ed1d25;
    border-color: #ed1d25;

    &:hover {
      border-color: #ed1d25;
    }
  }

  :global(.vtex-button__label) {
    font-size: 0px;
    padding-left: 5px;
    padding-right: 5px;

    &::before {
      content: "Ir para pagamento";
      font-size: 14px;
      font-weight: 600;
      text-transform: none;
    }
  }
}
.childrenContainer {
  height: 100vh;
  .minicartSideBarContentWrapper {
    height: 100vh !important;
  }
}
:global(.vtex-checkout-summary-0-x-summarySmallContent) {
  :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
    color: #ed1d25;
  }
}

:global(.vtex-checkout-summary-0-x-summaryItemPrice) {
  :global(.vtex-checkout-summary-0-x-price) {
    color: #525252 !important;
    font-weight: bold;
  }
}

:global(.vtex-minicart-2-x-minicartProductListContainer) {
  &::-webkit-scrollbar-thumb {
    background: #ed1d25 !important;
  }
}

:global(.vtex-minicart-2-x-popupBoxPosition) {
  right: -95px !important;
  width: 400px !important;
}

:global(.vtex-button__label-closeminicart) {
  color: #ed1d25;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.vtex-minicart-2-x-closeIconContainer) {
  background-color: #ed1d25;
  position: absolute;
  width: 100%;
  z-index: 3;

  :global(.vtex-minicart-2-x-closeIcon) {
    color: #fff;
  }
}

:global(.vtex-minicart-2-x-closeIconButton) {
  z-index: 999;
  outline: none;
}

/*:global(.vtex-minicart-totalizer-label) {
  & > span{
    font-family: GothamBook;
  }
}*/
