@import "./references";

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer--quickview-fb) {
  opacity: 1;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
  .container :global(.vtex-modal-layout-0-x-triggerContainer--quickview-fb) {
    display: block;
  }
}

.containerNormal {
  max-height: 350px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000014;
  max-width: 240px !important;
  padding: 8px 0;
  height: 350px;
  border-radius: 30px;
  padding-bottom: 0;

  &.container--shelf-list {
    height: auto;
  }

  .element--shelf-list {
    padding: 0;

    .productBrand {
      height: auto !important;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: em(1024px)) {
    position: relative;
  }

  :global(.vtex-store-components-3-x-listPrice) {
    margin: 0;
    justify-content: center;
  }
}
.imageContainer {
  @media screen and (min-width: 769px) {
    height: 118px;
    width: 118px;
  }
}
// :global(.vtex-ispromotion) {
//   :global(.vtex-flex-layout-0-x-flexCol--shadow-product) {
//     background: #fafafa;
//     border-radius: 35px 35px 0 0;
//     box-shadow: 0px 0px 6px #00000014;
//     @media screen and (max-width: 768px) {
//       // background: #fff;d
//       display: block !important;
//       padding: 0 8px;
//       border-radius: 20px 20px 0 0;
//       margin: 0;
//       margin-top: 2px;

//     }
//   }
//   @media screen and (max-width: 768px) {
//     :global(.vtex-store-components-3-x-currencyContainer--summary),
//     :global(.vtex-store-components-3-x-priceContainer),
//     :global(.vtex-store-components-3-x-price_className--summary) {
//       display: none !important;
//     }
//   }
// }
.element--normal-shelf {
  :global(.vtex-stack-layout-0-x-stackContainer) {
    margin: 0 8px 2px;
  }
  @media screen and (min-width: 768px) {
    :global(.vtex-stack-layout-0-x-stackContainer) {
      margin: 8px;
    }
  }
}
:global(.vtex-flex-layout-0-x-flexCol--shadow-product) {
  // padding: 8px;
  // padding-bottom: 16px;
  @media screen and (max-width: 768px) {
    // padding-top: 5px;
  }
}
.imageNormal {
  max-width: 118px !important;
  max-height: 118px !important;
}
:global(.vtex-product-summary-2-x-element) {
  :global(.vtex-button__label) {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px !important;
    @media screen and(max-width:768px) {
      display: none;
    }
  }
}

.container {
  :global(.vtex-button) {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 20px;
    background-color: $primary;
    min-height: 32px !important;
    max-height: 32px !important;

    &:hover {
      background-color: $secondary;
      border-color: $secondary;
      color: $primary;
    }
    @media screen and(max-width:768px) {
      &::after {
        content: "+";
      }
    }
    :global(.vtex-button__label) {
      &::after {
        content: "+";
        margin-left: 4px;
        @media screen and(max-width:768px) {
          display: none;
        }
      }
    }
  }

  :global(.vtex-product-price-1-x-savings) {
    border-radius: 13px;
    font-size: 12px;
    padding: 2px 6px;
    color: #e21c23;
    font-weight: bold;
    width: auto;
    align-items: center;
  }

  :global(.vtex-product-summary-2-x-element) {
    justify-content: space-between;
    padding: 0;

    @media screen and (max-width: 767px) {
      padding-bottom: 0;
      height: 100% !important;

      :global(.vtex-button) {
        width: 22px !important;
        min-height: 22px !important;

        display: flex;
        align-items: center;
        justify-content: center;

        // :global(.vtex-button__label) {
        //   @media screen and (max-width:768px){
        //     display: none;

        //   }
        // }

        // @media screen and (max-width:768px){
        //   &::after {
        //     content: "";
        //     width: 8px;
        //     height: 8px;
        //     display: inline-block;
        //     background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='8.461' viewBox='0 0 8.461 8.461'%3E%3Cpath id='Path_36486' data-name='Path 36486' d='M23.4,3.173H21.288V1.058a1.058,1.058,0,1,0-2.115,0V3.173H17.058a1.058,1.058,0,0,0,0,2.115h2.115V7.4a1.058,1.058,0,1,0,2.115,0V5.288H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16)' fill='%23fff'/%3E%3C/svg%3E%0A");
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //   }

        // }
      }

      :global(.vtex-product-summary-2-x-imageNormal) {
        max-height: 90px !important;
      }
    }
  }

  :global(.vtex-numeric-stepper-wrapper) {
    @media screen and (min-width: 768px) {
      padding: 0 8px;
    }
  }
  /* QUANTITY SELECTOR CUSTOM - SHELF */
  :global(.vtex-numeric-stepper-container) {
    border: 1px solid #dedede;
    border-radius: 5px;
    // padding: 0 15px;

    :global(.vtex-numeric-stepper__input) {
      width: 100% !important;
    }
    :global(.vtex-numeric-stepper__input),
    :global(.vtex-numeric-stepper__plus-button),
    :global(.vtex-numeric-stepper__minus-button) {
      border: 0;
      height: 32px;

      @media screen and (max-width: 767px) {
        height: 22px;
      }
    }

    @media screen and (max-width: 767px) {
      :global(.vtex-numeric-stepper__input) {
        font-size: 12px;
      }
    }

    :global(.vtex-numeric-stepper__plus-button) {
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='8.461' viewBox='0 0 8.461 8.461'%3E%3Cpath id='Path_36155' data-name='Path 36155' d='M23.4,3.173H21.288V1.058a1.058,1.058,0,1,0-2.115,0V3.173H17.058a1.058,1.058,0,0,0,0,2.115h2.115V7.4a1.058,1.058,0,1,0,2.115,0V5.288H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16)' fill='%23ed1d25'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 8px;
        height: 8px;
        display: inline-block;
      }

      :global(.vtex-numeric-stepper__plus-button__text) {
        display: none;
      }
    }

    :global(.vtex-numeric-stepper__minus-button) {
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='2.134' viewBox='0 0 8.461 2.134'%3E%3Cpath id='Path_36484' data-name='Path 36484' d='M23.4,3.173H21.288c.017-.028-2.143,0-2.115,0H17.058a1.058,1.058,0,0,0,0,2.115h2.115c.021-.006,2.124.015,2.115,0H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16 -3.16)' fill='%23ed1d25'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 8px;
        height: 2px;
        display: inline-block;
      }

      :global(.vtex-numeric-stepper__minus-button__text) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 108px !important;
    max-height: 184px;
    border-radius: 15px;
    position: relative;

    :global(.vtex-numeric-stepper-wrapper) {
      position: absolute;
      top: 84px;
      left: 4px;
      right: 4px;

      :global(.vtex-numeric-stepper__plus-button),
      :global(.vtex-numeric-stepper__minus-button) {
        width: 24px !important;
      }
    }

    :global(.vtex-product-price-1-x-savings) {
      font-size: 11px;
    }

    :global(.vtex-store-components-3-x-priceContainer) {
      display: flex;
      flex-direction: column;

      :global(.vtex-store-components-3-x-listPrice) {
        margin: 0;
        // order: 2;

        :global(.vtex-store-components-3-x-listPriceValue) {
          padding: 0;
          display: flex;
          :global(.vtex-store-components-3-x-currencyContainer) {
            font-size: 8px;
            display: flex;
          }
        }
      }

      :global(.vtex-store-components-3-x-sellingPrice) {
        font-size: 14px !important;
        // order: 1;
        margin: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container--shelf-list {
    :global(.vtex-numeric-stepper-wrapper) {
      left: auto;
    }
  }
}

.productBrandContainer {
  display: flex;
  border-left: 2px solid #ffd500;
  padding-left: 5px;
  font-size: 13px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

:global(.vtex-shelf-1-x-sliderContainer--related-products) {
  :global(.vtex-product-summary-2-x-element) {
    padding-top: 15px;
    // padding-bottom: 16px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

:global(.vtex-product-summary-2-x-currencyContainer) {
  color: #525252;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

:global(.vtex-product-summary-2-x-element) {
  :global(.vtex-store-components-3-x-priceContainer) {
    text-align: left;
    width: 100%;
    padding: 0 5px;
    background: #fff;

    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }
}

:global(.vtex-product-summary-2-x-nameContainer) {
  border-bottom: none;
  align-items: normal;
  padding: 0 8px;

  @media screen and (max-width: em(1024px)) {
    height: 34px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .productBrand {
    font-size: 10px !important;
    height: auto !important;
    padding: 0 4px;
  }
}

:global(.vtex-product-summary-2-x-priceContainer) {
  padding-top: 0px;
  padding-bottom: 0px;
}
