.productHighlightText--preventas {
    font-weight: 600;
    color: #000;
    background: url(assets/back-preventa.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 0;
    width: 89px;
    height: 88px;
    display: inline-block;
}

