.link--ver-tudo-link {
  color: #ed1d25;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.label--hiring-linkedin{
  display: inline-block;
  padding: 15px 48px;
  border: 1px solid #ED1D25;
  color: #ED1D25;
  border-radius: 5px;
  font-weight: bold;
}
.link--send-curr{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ED1D25;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 0 30px;
  border-radius: 5px;
}