@import "./references";


.link--ver-tudo-link {
  color: $primary;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.label--hiring-linkedin{
  display: inline-block;
  padding: 15px 48px;
  border: 1px solid $primary;
  color: $primary;
  border-radius: 5px;
  font-weight: bold;
}
.link--send-curr{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 0 30px;
  border-radius: 5px;
}

// INSTITUTIONALS  - GBARBOSA ODONTO
.link--gbarbosa-odonto{
  color: #fff;
  background: $secondary;
  border: $secondary;
  padding: 0 42px;

  &:hover {
    background: $secondary;
  }
}

// INSTITUTIONALS - CENCOSUD CARD
.link--cencosud-card-link1,
.link--cencosud-card-link2 {
  font-weight: 600;
  padding: 12px;
}

.link--cencosud-card-link1 {
  background: transparent;
  border-color: $secondary;
  color: $secondary;

  &:hover {
    background: transparent;
    border-color: $secondary;
    color: $secondary;
  }
}

.link--cencosud-card-link2 {
  background: $secondary;
  border: 1px solid $secondary;
  color: $red;

  &:hover {
    background: $secondary;
    border: 1px solid $secondary;
    color: $red;
  }
}

@media screen and (max-width: 767px) {
  .link--cencosud-card-link1 {
    margin-bottom: 16px;
  }

  .link--gbarbosa-odonto{
    margin: 16px 0;
  }
}
