.stackItem--product {
  width: 100%;
}
.stackItem--savings-porcentaje {
  top: 0;
  right: 0;
  z-index: 0 !important;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--shopping-list-shelf-button {
  width: 100%;
  z-index: 0 !important;
}
