@import "./references";

@media (min-width: em(1026px)) {
  .suggestionListWrapper {
    display: flex;
    align-items: flex-end;
  }
}
:global(.vtex-store-components-3-x-portalContainer--search-main) {
  z-index: 4!important;
  position: absolute!important;
  .biggy-autocomplete-wrapper {
    max-width: 615px;
    top: 30px;
    left: -20px;
    width: calc(100% + 135px);
    display: grid!important;
    border-radius: 20px;
    z-index: 0;
    position: relative;
    .biggy-autocomplete {
      grid-template-columns: 27% 73%!important;
      padding-top: 100px;
      display: grid;
      border-radius: 20px;
      left: 0;
    }
  }

}
.tileList {
  :global(.vtex-product-summary-2-x-containerNormal) {
    background: #fff;
    :global(.vtex-stack-layout-0-x-stackItem--quickview) {
      display: none !important;
    }
  }
}

.didYouMeanTerm {
  :first-child {
    color: $primary;
  }
}

.didYouMeanPrefix {
  margin-bottom: 1em;
  display: inline-block;
  margin-right: 0.3em;
}

.tileListItem {
  :global(.vtex-product-summary-2-x-element)
    :global(.vtex-store-components-3-x-price_installmentContainer--summary) {
    text-align: left !important;
    &::after {
      margin-top: 0;
    }
  }
}
.biggy-autocomplete-wrapper {
  max-width: 560px;
  @media screen and (max-width: 768px) {
    width: calc(100vw - 16px);
  }
  .biggy-autocomplete {
    box-shadow: none;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid #fff;
      background-color: #ED1D25;
      border-radius: 20px;
    }

    .itemListTitle {
      color: #525252;
      font-size: 14px;
      font-weight: bold;
      text-transform: initial;
    }
    .itemListPrefix {
      color: #525252;
      font-weight: 400;
    }
    .itemListLinkTitle {
      color: #525252;
    }
    .itemListSubItemLink {
      padding: 0 20px;
    }
    .tileListItem {
      box-sizing: content-box;
      margin: 12px 0;

      :global(.vtex-product-summary-2-x-container--compact) {
        max-width: initial!important;
      }

      :global(.vtex-product-summary-2-x-nameContainer) {
        padding: 0;
        height: 40px;

        :global(.vtex-product-summary-2-x-productBrand) {
          font-size: 12px;
          font-weight: 500;
        }
      }

      :global(.vtex-product-summary-2-x-element) {
        height: auto;
        padding-bottom: 8px;
      }

      :global(.vtex-store-components-3-x-priceContainer) {
        margin: 0;

        :global(.vtex-store-components-3-x-currencyContainer) {
          font-size: 12px;
          color: #ED1D25;
        }
      }
    }
    .itemList--suggestion {
      max-width: 200px;
    }
    .tileListList {
      justify-content: left;
      padding: 0 20px;
    }
    .tileList {
      border: 0;
    }

    @media screen and (max-width: 767px) {
      padding: 0 8px;
    }
  }
}
