@import "./references";
.searchIcon--search-main {
  display: none;
}
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  width: 580px;
  padding: 0 !important;
  align-items: center;
  display: flex;
  margin: 0 auto;

  @media screen and (max-width: em(1325px)) {
    width: 560px;
  }

  @media screen and (max-width: em(1279px)) {
    width: 485px;
  }

  @media (min-width: em(1024px)) {
    width: 100%;
    padding: 0.5em 0 !important;
  }

  @media (max-width: em(1024px)) {
    width: 100%;
    padding: 0;
    margin-left: 0px;
  }
  .searchBarIcon--search-mobile-clear {
    color: #fff;
    text-align: center;
    padding: 0 0.7em;
    margin-top: 0 !important;
    margin-right: 24px;
  }
  :global(.vtex-input-prefix__group) {
    border: none;
  }
  :global(.vtex-styleguide-9-x-input) {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    //border: 0;
    @media (max-width: 768px) {
      box-shadow: 0px 3px 6px #5252520d;
      border-bottom: 1px solid #dedede;
      border-radius: 0;
      font-size: 16px;
    }
  }
}

:global(.vtex-styleguide-9-x-input) {
  border: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3b3b3b;
  @media (max-width: em(768px)) {
    width: 100%;
  }
  @media (min-width: em(1046px)) {
    width: 29vw;
  }
}

.sizeDesktop {
  padding: 0;
}

@media only screen and (min-width: em(640px)) {
  .label {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.productNameContainer {
  font-weight: bold;
}

// Main
.container {
  max-width: $maxContainerWidth;
  // @media screen and (max-width: 768px) {
  //   max-width: 100%;
  // }
}

// FOOTER
.imageElement--card-icon {
  margin: auto;
}
.imageElement--footer-logo {
  width: 62px;
  height: 62px;
}
.imageElement--image-home-1 {
  margin: 0.7em auto;
  display: block;
  text-align: center;
  @media (min-width: em(1026px)) {
    margin: 35px auto;
    text-align: center;
  }
}

.imageElement--logo-footer-corebiz {
  align-self: center;
}

.imageElementLink--image-home {
  padding: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.logoImage {
  max-width: 120px;

  @media (max-width: em(1024px)) {
    min-width: 130px;
    max-width: 140px;
    margin-left: -40px;
    height: 32px;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    margin: 0 !important;
  }
}

.specificationsTitle,
.productDescriptionTitle {
  display: none;
}
.productDescriptionText {
  font-size: 16px;
  line-height: 24px;
  white-space: break-spaces;
  text-align: justify;
}
.productImage {
  :first-child {
    :first-child {
      background-color: #fff !important;
      .productImageTag--main {
        mix-blend-mode: darken;
      }
    }
  }
}
.carouselGaleryThumbs {
  max-width: 80px;
  :first-child {
    :first-child {
      margin-right: 0.2em;
      &::-webkit-scrollbar-thumb {
        background: #e8e8e8;
      }
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: #fff;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
      }
    }
    .productImagesThumb {
      margin-bottom: 0.5em;
      margin-right: 0;
      .figure {
        padding: 2px;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: transparent;
        .thumbImg {
          mix-blend-mode: darken;
        }
      }
    }
    .productImagesThumbActive {
      .figure {
        border: none;
      }
    }
  }
}
.shippingContainer {
  :global(.vtex-address-form__postalCode) {
    :global(.vtex-input__error) {
      @media screen and (max-width: 768px) {
        position: absolute;
        top: 21px;
      }
    }
  }
}
.resultsList {
  font-size: 14px;
  margin-left: 5px;
  right: 0;
  max-width: 98.99999%;
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  .resultsItemImage {
    mix-blend-mode: darken;
    width: auto !important;
  }
}

.swiperCaretNext {
  outline: none !important;
}

.imageElement--logo-footer {
  margin-top: 1em;
}

.specificationsTableContainer {
  padding: 0;

  @media screen and (max-width: 40em) {
    margin-top: 0;
  }
  .container {
    height: inherit !important;
    .pointerEventsNone {
      display: none !important;
    }
  }
}
.specificationsTable {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  background: transparent;
  .specificationsTableSpecificationHeading,
  .specificationsTablePropertyHeading {
    border-top: 0 !important;
    display: none;
  }
}

.skuSelectorSelectorImageValue {
  font-size: 12px !important;
}
.skuSelectorOptionsList {
  margin: 0;
}
.price_sellingPrice--summary {
  padding: 0;
  font-size: 24px;
}

.subscriberContainer {
  .title{
    color: #525252;
    font-weight: bold;
  }
  .subscribeLabel{
    font-weight: normal;
    color: #525252;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .submit{
    :global(.vtex-button){
      width:100%;
      height:40px;
      background-color: #ED1D25;
      border-radius: 5px;
      color:#fff;
      :global(.vtex-button__label){
        font-weight: bold;
      text-transform: none;
      }
    }
  }
  :global(.vtex-styleguide-9-x-input) {
    border: 1px solid #e3e4e6;
    border-radius: 0.25rem;
    margin-left: 0;
    width: 100%;
  }
  .submit {
    :global(.vtex-button) {
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      @media screen and (max-width: 40em) {
        width: 100%;
      }
    }
  }
}
.logoImage--banner-invoice {
  height: auto !important;
  width: 292px !important;
  max-width: 100% !important;
  margin-left: 303px;
  padding-bottom: 5px;
  padding-top: 5px;

  @media screen and (max-width: em(840px)) {
    width: 220px !important;
    margin-left: 148px;
    padding-bottom: 40px;
  }
}
.skuSelectorItem {
  .skuSelectorInternalBox {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .diagonalCross {
    border-radius: 5px;
    background-color: #f3f1f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
.skuSelectorItem--selected {
  .frameAround {
    background: #f4f4f4;
    // border: 2px solid #ed1d25;
    box-shadow: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .skuSelectorInternalBox {
    border: 2px solid #ed1d25;
  }
}
.skuSelectorSubcontainer--talla {
  @media screen and (max-width: 40em) {
    margin-bottom: 0;
  }
  margin-top: 1em;
  .skuSelectorName {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
  }
}
.showMoreButton {
  padding: 0.6em 1em;
  font-size: 14px;
  border-radius: 20px;
}

:global(.vtex-flex-layout-0-x-flexRow--telemarketing) {
  position: relative;
  background-color: #262626;
}

:global(.vtex-logout-button) {
  @media screen and (max-width: em(1024px)) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    justify-content: center;
    position: initial;
    border-top: 1px solid #666;
    /*margin-top: 55px;*/
    width: 100%;
    text-align: center;
    border-right: none !important;
    border-left: none !important;
  }
}

:global(.vtex-telemarketing-2-x-telemarketingBar) {
  @media screen and (max-width: em(1024px)) {
    display: flex;
    :global(.vtex-telemarketing-2-x-attendantContainer) {
      width: 100%;
      justify-content: center;
      padding: 10px;
    }
    :global(.vtex-telemarketing-2-x-login) {
      width: 100%;
      /*padding: 10px;*/
    }
  }
}

:global(.vtex-styleguide-9-x-scrollBar) {
  background: #ffffff;
}

:global(.vtex-title-modal--addtc) {
  color: #333;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

:global(.vtex-title-modal--listprice) {
  text-decoration: line-through;
  color: #ccc;
  font-size: 20px;
  text-align: center;
}

:global(.vtex-title-modal--price) {
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

:global(.vtex-button--keep-buying) {
  font-size: 14px;
  width: 100%;
  color: #fff;
  background-color: #333;
  border-color: #333;
}

:global(.vtex-button--see-car) {
  font-size: 14px;
  width: 100%;
  color: #fff;
  background-color: #da291c;
  border-color: #da291c;
}

:global(.vtex-modal-layout-0-x-backdrop) {
  background-color: #000;
}

:global(.vtex-disponibilidad) {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.33;
  text-decoration: none;
}

:global(.vtex-disponible-bp) {
  color: #00be32;
  font-size: 14px;
  font-weight: 600;
}

:global(.vtex-cdmx) {
  color: #666666;
  font-size: 13px;
}

:global(.vtex-zona) {
  color: #666666;
  font-size: 13px;
}

:global(.vtex-envio-domicilio) {
  font-size: 16px;
  color: #333333;
}

:global(.vtex-store-form-0-x-formSubmitButton) {
  :global(.vtex-button) {
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 8px;
  }
}

:global(.vtex-svg-promotion) {
  width: auto;
  height: 50px;
}

:global(.vtex-header-promotion) {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

:global(.vtex-box-promotion) {
  background-color: #fff;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 0px;
  border-radius: 12px;
}

:global(.vtex-footer-promotion) {
  color: #e1251b;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

:global(.vtex-body-promotion) {
  color: #8e8e8e;
  font-weight: 700;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

:global(.vtex-body-promotion-percent) {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #044784;
}

//rojo
:global(.vtex-promotion-active-1) {
  background-image: linear-gradient(rgb(251, 46, 19), rgb(185, 25, 5)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//verde
:global(.vtex-promotion-active-2) {
  background-image: linear-gradient(rgb(107, 151, 138), rgb(0, 102, 72)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//gris
:global(.vtex-promotion-active-3) {
  background-image: linear-gradient(rgb(165, 165, 165), rgb(102, 102, 102)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//PAYPAL
:global(.vtex-promotion-active-4) {
  background-image: linear-gradient(rgb(0, 163, 218), rgb(5, 173, 229)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//bbva italika
:global(.vtex-promotion-active-5) {
  background-image: linear-gradient(rgb(0, 156, 222), rgb(0, 48, 135)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//bancos participantes
:global(.vtex-promotion-active-6) {
  background-image: linear-gradient(rgb(1, 60, 131), rgb(20, 20, 30)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

//meses sin intereses
:global(.vtex-promotion-active-7) {
  background-image: linear-gradient(rgb(33, 176, 224), rgb(0, 68, 126));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;

  :global(.vtex-body-promotion) {
    color: #fff;
  }
  :global(.vtex-body-promotion-percent) {
    color: #fff;
  }
}

:global(.vtex-title-promotions-bank) {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

:global(.vtex-youre-seeing) {
  color: #333;
  font-size: 14px;
}

:global(.vtex-promotions-title-red) {
  color: #e1251b;
  font-weight: 600;
}

:global(.vtex-div-promotions-content) {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

:global(.vtex-title-content-promotion) {
  color: #044784;
  font-size: 18px;
}

:global(.vtex-subtitle-content-promotion) {
  color: #808080;
  font-size: 14px;
}

:global(.vtex-ul-content-promotion) {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

:global(.vtex-button-promotions) {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 10px;
}
.price-checkout-promotion {
  display: block;
}

.price-checkout-promotion {
  color: #ed1d25;
  font-weight: bold;
  font-size: 16px;
}
.price-checkout-promotion-container {
  font-size: 10px;
  color: #898989;
}

.price-checkout-promotion-list {
  font-weight: bold;
}
:global(.vtex-txt-red) {
  color: #e1251b;
  font-weight: 700;
  text-decoration: none;
}

:global(.vtex-img-close) {
  width: 25px;
  cursor: pointer;
}

:global(.vtex-close-promotion) {
  text-align: right;
}

:global(.vtex-hidden) {
  visibility: hidden;
}

:global(.vtex-express-promotion-0-x-container) {
  :global(.vtex-product-summary-2-x-containerNormal) {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  :global(.vtex-express-promotion-0-x-summaryContainer) {
    max-width: 380px;
    width: 380px;
    z-index: 5;
    box-shadow: 2px -2px 5px 0 rgb(0 0 0 / 60%);
  }

  :global(.vtex-product-summary-2-x-containerNormal) {
    border-radius: 0 !important;
    background-color: #fff;
    padding: 0px;
    box-shadow: none;
  }

  :global(.vtex-product-summary-2-x-nameContainer) {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: none;
  }

  :global(.vtex-button) {
    border-radius: 0px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild) {
    display: flex;
    align-items: center;
  }

  :global(.vtex-product-summary-2-x-priceContainer) {
    padding: 0px;
  }

  :global(.vtex-product-summary-2-x-price_listPrice) {
    font-size: 14px !important;
    &::before {
      content: "De: ";
    }
  }

  :global(.vtex-product-summary-2-x-price_sellingPrice) {
    color: #000 !important;
    font-weight: bold;
    font-size: 18px !important;
    &::before {
      content: "A: ";
    }
  }

  :global(.vtex-flex-layout-0-x-flexCol--price-express) {
    border-right: 1px solid #e2251b;
    margin-right: 10px;
  }
}

.listPriceValue {
  padding: 0;
  margin:0 4px;

  .currencyContainer {
    font-size: 9px;
    line-height: 8px;
    color: #525252;
  }
}
@media screen and (max-width:768px ){
  .listPriceValue{
    margin:0;
  }
}

:global(.vtex-lightning-offer-title) {
  align-items: center;
  color: #ffdc20;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  background-color: #000;
  justify-content: space-between;
  padding: 14px 10px;
}

:global(.vtex-lightning-offer-bold) {
  font-size: 20px;
  font-weight: bold;
  margin-left: 3px;
}

:global(.vtex-logo-offer) {
  height: 19px;
  padding-right: 15px;
}

:global(.vtex-express-promotion-0-x-closeButton) {
  :global(.vtex-button) {
    &:hover {
      background-color: #000 !important;
    }
  }
}

:global(.vtex__icon-close) {
  color: #ccc;
}
:global(.vtex-store-components-3-x-imageElement--logo-rowdown-fb) {
  padding-left: 12px;
  padding-right: 12px;
}

/*:global(.vtex-sticky-layout-0-x-wrapper--stuck){
  :global(.vtex-search-1-x-biggy-autocomplete) {
    left: -20px;

    @media screen and (max-width: em(1024px)) {
      left: 19px;
      top: 1px;

    }
  }
}*/
:global(.vtex-store-components-3-x-imageElement--carousel-text) {
  display: none;
}

:global(.vtex-store-components-3-x-imageElementLink--carousel-text) {
  color: #ed1d25;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

:global(.vtex-store-components-3-x-imageElement--banner-full) {
  width: 65% !important;

  @media screen and (max-width: em(1024px)) {
    width: 100% !important;
  }
}

:global(.vtex-store-components-3-x-imageElementLink--banner-full) {
  text-align: center;
}

:global(.vtex-store-components-3-x-imageElement--banner-img) {
  border-radius: 5px;
}

/*:global(.vtex-store-components-3-x-imageElement--custom-four) {
  height: 320px;
}*/

:global(.vtex-store-components-3-x-logoImage--icon-head) {
  width: 24px;
  opacity: 0.5;
  margin-top: 6px;
  margin-right: 4px;
  height: 28px;
  position: relative;
  top: 8px;
}

:global(.vtex-store-components-3-x-searchIcon--search-mobile) {
  overflow: visible;
  width: calc(var(--letter-width) * var(--letter-count));
  height: 18px;
  display: none;
}
.imageElement--logo-footer-corebiz-mobile {
  margin-bottom: 3px;
  margin-right: 10px;
  height: 12px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.imageElement--vtex-footer-logo {
  height: 14px;
}

:global(.vtex-store-components-3-x-logoImage--icon-social-fb) {
  margin-right: 10px;
}

:global(.vtex-store-components-3-x-newsletter) {
  :global(.vtex-store-components-3-x-container) {
    margin-left: 20px;
  }
}

:global(.vtex-store-components-3-x-searchBarIcon--search-mobile-search) {
  @media screen and (max-width: em(1024px)) {
    background-color: #fff;
  }
}
.productImagesGallerySwiperContainer {
  .swiperCaretNext {
    .caretIcon {
      color: #898989;
      background: #ffffff80;
      box-shadow: 0px 3px 6px #0000001a;
      padding: 8px 5px 8px 11px;
      cursor: pointer;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  .swiperCaretPrev {
    .caretIcon {
      color: #898989;
      background: #ffffff80;
      box-shadow: 0px 3px 6px #0000001a;
      padding: 8px 9px 8px 7px;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}
.productImagesContainer--carousel {
  .caretIcon {
    color: #898989;
    background: #ffffff80;
    box-shadow: 0px 3px 6px #0000001a;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
:global(.vtex-subcategory-lv2) {
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 5px;
  opacity: 1;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30%;
  font-size: 14px;
  color: #525252;
  display: flex;
  background-color: #fff;

  @media screen and (max-width: em(1024px)) {
    width: 48%;
  }
}

:global(.vtex-all-subcategories) {
  padding-left: 4rem;

  @media screen and (max-width: em(1024px)) {
    padding-left: 0px;
  }
}

:global(.vtex-image-icon-subcategory) {
  width: 40px;
  height: 40px;
  padding-left: 16px;
}

:global(.vtex-title-subcategory) {
  margin: 0px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

:global(.vtex-store-components-3-x-logoImage--baby-world-brand) {
  width: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

:global(.vtex-store-components-3-x-logoImage--baby-world-sub) {
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
}

:global(.vtex-store-components-3-x-logoImage--our-brand-logo) {
  height: 60px;
}

:global(.vtex-store-components-3-x-listPriceValue) {
  :global(.vtex-product-summary-2-x-currencyContainer) {
    font-size: 14px;
    color: #898989;
  }
}
.headingLevel3--vale-gas-section-1 {
  letter-spacing: -1.01px;
  color: #f4f4f4;
  font-size: 42px;
  margin: 0;
}
.paragraph--vale-gas-section-1 {
  margin: 0;
  font-size: 26px;
  color: #fafafa;
}
.imageElement--cart-io-security {
  max-height: 48px;
  @media (max-width: 768px) {
    max-height: 48px !important;
  }
}
:global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

:global(.vtex-store-components-3-x-content) {
  z-index: 0;
}

//css pagina principal financieros
.imageElement--imagen-mobile {
  height: 152px;
}

:global(.vtex-minicart-totalizer) {
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 600;
}

// INSTITUTIONALS - SERVICES

.infoCardContainer--services-cards {
  flex-direction: column-reverse;
  width: 290px !important;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 5px;
  margin-bottom: 42px;

  .infoCardTextContainer--services-cards {
    width: 100%;
    height: 100%;
    justify-content: flex-end;

    .infoCardHeadline--services-cards {
      font-size: 24px;
      color: #ed1d25;

      display: flex;
      justify-content: center;
      width: 100%;
    }

    .infoCardSubhead--services-cards {
      font-size: 14px;
      flex: 1;
    }

    .infoCardCallActionContainer--services-cards {
      width: 100%;
      margin: 12px 0;

      :global(.vtex-button) {
        width: 100%;
        background: #f4f4f4;
        border-color: #f4f4f4;
        border-radius: 4px;
        color: #ed1d25;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .infoCardImageContainer--services-cards {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 172px !important;
    display: flex;
    flex-direction: column-reverse;
  }
}

// INSTITUTIONALS - GBARBOSA ODONTO
.imageElement--gbarbosa-odonto-background {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .infoCardContainer--cencosud-card-benefits {
    .infoCardImageContainer--cencosud-card-benefits {
      width: auto;
    }
  }
}

// INSTITUTIONALS - GBARBOSA ODONTO
@media screen and (max-width: 768px) {
  .imageElement--gbarbosa-odonto-brands {
    max-height: 32px !important;
  }
}

// INSTITUTIONALS - VALE GAS
.infoCardContainer--vale-gas-section-1 {
  height: 349px;

  .infoCardTextContainer--vale-gas-section-1 {
    max-width: 273px;

    .infoCardHeadline--vale-gas-section-1 {
      letter-spacing: -1.01px;
      color: #f4f4f4;
      font-size: 42px;
      margin: 0;
    }

    .infoCardSubhead--vale-gas-section-1 {
      margin: 0;
      font-size: 26px;
      color: #fafafa;
    }
  }
}

.infoCardContainer--vale-gas-section-2 {
  background: $secondary;
  padding: 0;

  .infoCardTextContainer--vale-gas-section-2 {
    max-width: 440px;
    margin: 0 auto;

    .infoCardHeadline--vale-gas-section-2 {
      letter-spacing: -0.77px;
      color: $primary;
      font-size: 32px;
    }

    .infoCardSubhead--vale-gas-section-2 {
      letter-spacing: -0.29px;
      font-size: 18px;
    }
  }

  .infoCardImage--vale-gas-section-2 {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .infoCardTextContainer--vale-gas-section-1 {
    max-width: initial;
    margin: 0 auto;

    .infoCardHeadline--vale-gas-section-1 {
      font-size: 28px;
    }

    .infoCardSubhead--vale-gas-section-1 {
      font-size: 16px;
    }
  }

  .infoCardContainer--vale-gas-section-2 {
    .infoCardTextContainer--vale-gas-section-2 {
      max-width: 324px;
      padding: 16px 0 115px;

      .infoCardHeadline--vale-gas-section-2 {
        text-align: center;
        width: 100%;
        font-size: 28px;
        letter-spacing: -0.67px;
        line-height: 38px;
      }

      .infoCardSubhead--vale-gas-section-2 {
        text-align: center;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: -0.22px;
      }
    }
  }
}

//INSTITUTIONALS - RECARGA CELULAR
.infoCardContainer--recarga-celular-section-1 {
  background: transparent;
  padding: 0;

  .infoCardTextContainer--recarga-celular-section-1 {
    max-width: 530px;
    margin: 0 auto;

    .infoCardHeadline--recarga-celular-section-1 {
      margin: 0;
      font-size: 42px;
      color: #fdbb30;
      line-height: 57px;
      letter-spacing: -1.01px;
    }

    .infoCardSubhead--recarga-celular-section-1 {
      font-size: 20px;
      color: #fafafa;
      line-height: 27px;
    }
  }
}
.imageElement--unactive-list {
  display: none !important;
}
.currencyContainer-checkout{
  font-size: 12px;
  color: #898989;
}


.currencyContainer--summary-checkout {
  color: #ed1d25;
  font-size: 14px;
}
.price_listPrice--summary {
  padding: 0;
}
.price_sellingPriceContainer--summary-checkout {
  margin-left: 0;
}

.price_sellingPrice--summary-checkout {
  font-size: 14px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .infoCardContainer--recarga-celular-section-1 {
    .infoCardTextContainer--recarga-celular-section-1 {
      align-items: center;
      padding: 0 24px;

      .infoCardHeadline--recarga-celular-section-1 {
        font-size: 35px;
        line-height: 47px;
        letter-spacing: -0.84px;
      }

      .infoCardSubhead--recarga-celular-section-1 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        margin-top: 16px;
      }
    }

    .infoCardImage--recarga-celular-section-1 {
      display: flex;
      border-radius: 0 0 30px 30px;
    }
  }
}

.imageElement--cartao-cenco-content-col2 {
  display: flex;
  max-height: 472px;
}
@media (max-width: 768px) {
  .imageElement--logo-cart {
    width: 50px;
    height: 50px;
  }
  .imageElement--vtexlogo-footer {
    display: none;
  }
}
// INSTITUTIONALS - TROCA CEL
.infoCardHeadline--troca-cel-section-1 {
  color: $white;
  margin: 0;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: -1.01px;
}

.infoCardSubhead--troca-cel-section-1 {
  color: $white;
  margin: 0;
  font-size: 26px;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  .infoCardContainer--troca-cel-section-1 {
    height: 350px;

    .infoCardTextContainer--troca-cel-section-1 {
      margin-left: 32px;

      .infoCardHeadline--troca-cel-section-1 {
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.65px;
      }

      .infoCardSubhead--troca-cel-section-1 {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .imageElement--troca-cel {
    max-width: 224px;
  }
}

.imageElement--cenconsud-protege-background {
  display: flex;
}

.specificationItemProperty,
.specificationItemSpecifications {
  border: 0;
  padding: 8px 16px;
}

.productDescriptionText {
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .imageElement--cencosud-protege-tags {
    margin-top: 32px;
  }
}

//css pagina de pago de servicios institucional
@media (min-width: 1025px) {
  .imageElement--banner-institucional {
    width: 1366px !important;
    height: 320px !important;
  }
}

:global(.vtex-minicart-custom-title) {
  color: #525252;
  font-size: 14px;
  font-weight: 600;
  font-family: OpenSans;
}

:global(.vtex-minicart-custom-img) {
  height: 40px;
}

:global(.vtex-store-components-3-x-logoImage--logo-circle) {
  border-radius: 50%;
  max-width: 160px;
  margin-top: 32px;
  margin-bottom: 32px;
  height: auto;
}

:global(.vtex-store-components-3-x-imageElement--big-community) {
  margin-top: 30px;
}

:global(.vtex-globalPromo-2) {
  color: #f51b1b;
  font-weight: bolder;
  font-size: 16px;
  text-align: left;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

:global(.vtex-globalPromo-3) {
  color: #f51b1b;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

:global(.vtex-store-components-3-x-logoImage--parrilleros-img) {
  width: 40px;
  height: 40px;
  padding-left: 16px;

  @media screen and (max-width: em(1024px)) {
    min-width: 40px;
    padding-left: 0px;
    margin-left: 0px;
  }
}

:global(.vtex-store-components-3-x-logoContainer--parrilleros-img) {
  @media screen and (max-width: em(1024px)) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-around;
  }
}

//construction
:global(.vtex-store-components-3-x-imageElement--img-const-1) {
  width: 32%;
}

:global(.vtex-flex-layout-0-x-flexColChild--const-img-left) {
  text-align: right;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

:global(.vtex-store-components-3-x-imageElement--img-const-2) {
  width: 50%;
}

:global(.vtex-rich-text-0-x-paragraph--const-loading) {
  color: #f4bc50;
  font-size: 26px;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

:global(.vtex-store-components-3-x-imageElement--img-const-gif) {
  width: 300px;
  padding-top: 25px;
}

:global(.vtex-rich-text-0-x-strong--const-text) {
  font-size: 25px;
}

:global(.vtex-rich-text-0-x-paragraph--const-text) {
  margin-top: 30px;
}

:global(.vtex-store-components-3-x-logoImage--logo-circle) {
  border-radius: 50%;
  max-width: 160px;
  margin-top: 32px;
  margin-bottom: 32px;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 64em) {
  :global(.vtex-store-components-3-x-logoImage) {
    max-width: 64px;
    height: auto;
    border-radius: 0px !important;
    margin-left: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: auto;
  }
}

:global(.vtex-add-to-car) {
  :global(.vtex-button) {
    background-color: #ed1d25 !important;
    color: #fff !important;
    border-color: #ed1d25 !important;
    margin-top: 12px;
  }
}

:global(.vtex-store-components-3-x-carouselContainer) {
  @media screen and (max-width: em(1024px)) {
    justify-content: center !important;
  }
}

:global(.vtex-store-components-3-x-carouselGaleryCursor) {
  margin-left: 0% !important;
}

//Slider medio super parrilleros
@media screen and (max-width: 480px) {
  .imageElement--parrillero-banner-images-mobile {
    display: block;
  }
  .imageElement--parrillero-banner-images {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .imageElement--parrillero-banner-images-mobile {
    display: none;
  }
  .imageElement--parrillero-banner-images {
    display: block;
  }
}

:global(.vtex-checkbox__input) {
  opacity: 1;
}
:global(.vtex-search-result-3-x-filterItem) {
  :global(.vtex-checkbox__input) {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .logoContainer--logo-sub-mundo-bebe {
    padding: 0px;
  }
  .logoImage--logo-sub-mundo-bebe {
    min-width: 32px;
    max-width: 32px;
    margin-left: -20px;
    margin-right: 10px;
  }
  .logoImage--parrilleros-img {
    width: auto !important;
  }
  .logoContainer--parrilleros-img {
    min-width: auto !important;
  }
  .logoImage--baby-world-sub {
    width: 32px !important;
    max-width: 32px !important;
    height: 40px !important;
  }
  .logoImage--logo-unidos {
    min-width: 32px !important;
  }
}

.imageElement--carrusel-cuadros {
  height: 250px;
}

@media (min-width: 1025px) {
  .logoImage--imagen-reglamento-bicicletas {
    width: auto;
    height: auto;
    max-width: 330px;
  }
  .logoImage--logo-sub-mundo-bebe {
    margin-left: -20px;
    margin-right: 10px;
  }
}

/* department page */
.imageElementLink--deparment-banner {
  text-align: center;
}
.imageElementLink--deparment-banner-full {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .imageElement--deparment-banner {
    max-width: 217px;
    width: 217px;
    padding: 0 10px;
    margin-top: 15px;
  }
  .imageElement--deparment-banner-full {
    display: none;
  }
}
/* department page end */
/* Dicas Ge */
.infoCardContainer--infocard-building {
  justify-content: center;
  background: #f4f4f4;
  .infoCardImageContainer--infocard-building,
  .infoCardTextContainer--infocard-building {
    width: auto !important;
    margin: 0 35px;
    .infoCardHeadline--infocard-building {
      color: #525252;
      font-size: 20px;
      max-width: 500px;
    }
    .infoCardSubhead--infocard-building {
      font-size: 14px;
    }
    .infoCardCallActionContainer--infocard-building {
      margin: 50px 0;
      :global(.vtex-button) {
        text-transform: initial;
        padding: 0 38px;
        font-size: 14px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
}

.imageElement--topbar-logo-1 {
  margin-right: 20px;
  height: fit-content;
}

.imageElement--topbar-logo-2 {
  margin-right: 20px;
  height: fit-content;
}
