@import "./references";
* {
  font-family: "OpenSans", sans-serif;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
  > div {
    &:nth-child(2) {
      max-width: 560px;
      width: 100% !important;
    }
  }
}
:global(.vtex-minicart-2-x-minicartProductListContainer) {
  > div {
    display: flex;
    flex-direction: column;
    :global(.vtex-product-list-0-x-productListUnavailableItemsMessage) {
      order: 3;
    }
    
    :global(.vtex-product-list-0-x-productListUnavailableItemsMessage) ~ :global(.vtex-flex-layout-0-x-flexRow--minicart-container-content) {
      order: 4;
      opacity: 0.5;
    }
    
    :global(.vtex-product-list-0-x-productListAvailableItemsMessage) {
      order: 1;
    }
    :global(.vtex-product-list-0-x-productListAvailableItemsMessage) ~ :global(.vtex-flex-layout-0-x-flexRow--minicart-container-content)  {
    order: 2;
    }
  }
}

:global(.vtex-product-list-0-x-productListUnavailableItemsMessage) {
  font-size: 14px;
  color: #ED1D25;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 0;
  &::before {
    content: url(/arquivos/alert-circle-fill.png);
    display: block; 
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  + :global(.vtex-flex-layout-0-x-flexRow--minicart-container-content) {
    opacity: 0.5;
  }
}
:global(.vtex-login-2-x-oauthAutoRedirect) {
  font-size: 0;
  &::before {
    content: 'Para visualizar seus pedidos, por favor acessar a sua conta antes. Estamos lhe redirecionando, aguarde...';
    font-size: 16px;
    padding: .75rem;
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: center;
  }
}
:global(.vtex-numeric-stepper__plus-button.c-disabled) {
  background: #fff;
  > div {
    opacity: 0.3;
  }
}
:global(.vtex-numeric-stepper__minus-button.c-disabled) {
  background: #fff;
  > span {
    opacity: 0.3;
  }
}


:global(.vtex-sticky-layout-0-x-wrapper--sticky-header-1--stuck) {
  :global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
    > div {
      &:nth-child(2) {
        max-width: 780px;
        width: 100% !important;
      }
    }
  }
}
:global(.vtex-dropdown) {
  :global(.br2.bw1.relative.bg-white.ba.b--light-gray.hover-b--silver) {
    border: 2px solid #eeee;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--main-header)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  > div {
    width: 100% !important;
  }
}
:global(.vtex-account) {
  /*padding-left: 20px;
  padding-right: 20px;*/
  max-width: $maxContainerWidth;
  margin: 0 auto;
  background: #fff;
  .menu {
    padding-top: 32px !important;
    padding-left: 22px !important;
  }
  :global(.vtex-my-account-1-x-userInfo) {
    display: flex !important;
    flex-wrap: nowrap;
    .userImage {
      display: none;
      margin: 0px;
      padding-bottom: 4px;
      padding-top: 4px;
    }
    .userGreeting {
      padding-bottom: 0px;
      margin-bottom: 0px;
      display: inline-block;
      font-size: 24px;
      color: #ed1d25;
      font-weight: bold;
    }
    .userName {
      font-size: 24px;
      font-weight: bold;
      color: #ed1d25;
      text-transform: capitalize;
      display: inline-block;
    }
  }

  :global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
    color: #666666;
    font-size: 12px;
    width: 200px;
    text-align: left;
  }

  :global(.vtex-my-orders-app-3-x-orderHeaderValue) {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    width: 200px;
    text-align: left;
  }

  :global(.vtex-my-orders-app-3-x-orderProductName) {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
  }

  :global(.vtex-my-orders-app-3-x-orderProductShipping) {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0px;
  }

  :global(.vtex-my-orders-app-3-x-orderProductQuantityValue) {
    color: #666666;
    font-weight: normal;
    font-size: 14px;
  }

  :global(.vtex-my-orders-app-3-x-orderCard) {
    display: block;
    :global(.vtex-my-orders-app-3-x-orderHeader) {
      & > div:last-child {
        & > div:last-child {
          display: none;
        }
      }
      :global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
        font-weight: 900;
        text-align: center;
      }
      :global(.vtex-my-orders-app-3-x-orderHeaderValue) {
        text-align: center;
      }
      width: 100%;
      :global(.vtex-my-orders-app-3-x-orderId) {
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        width: 200px;
      }
    }
    :global(.vtex-my-orders-app-3-x-orderBody) > div:last-child {
      display: flex;
      flex-direction: column;
    }
    :global(.vtex-my-orders-app-3-x-orderBody) {
      :global(.vtex-my-orders-app-3-x-cancelBtn) {
        display: none;
      }
      :global(.vtex-my-orders-app-3-x-detailsBtn) {
        order: 1;
        color: #ed1d25;
        background: transparent;
        border: none;
        width: 256px;
        height: 40px;
        box-shadow: none;
        margin-bottom: 1rem;
      }
      :global(.vtex-my-orders-app-3-x-reorderBtn) {
        order: 2;
        width: 256px;
        height: 40px;
        text-align: center;
        justify-content: center;
        background: transparent;
        border: 1px solid #ed1d25;
        color: #ed1d25;
        border-radius: 5px;
        opacity: 1;
        svg {
          display: none;
        }
        span {
          font-size: 0;
          text-align: center;
          &::before {
            content: "Repetir pedido";
            font-size: 14px;
            font-weight: 900;
          }
        }
      }
    }

    &[status="canceled"] {
      :global(.vtex-my-orders-app-3-x-orderId) {
        &::after {
          content: "Cancelado";
          display: block;
          background: #ff4c4c;
          color: #fff;
          text-align: center;
          font-weight: 500;
          font-size: 0.75rem;
          padding: 0.25rem 0.5rem;
          max-width: 70px;
          border-radius: 4px;
          margin-top: 4px;
        }
      }
    }
  }
  span[value*="Preparando el pedido"] {
    background: yellow;
  }

  :global(.vtex-pageHeader__title) {
    font-size: 24px;
    color: #525252;
  }

  :global(.vtex-my-orders-app-3-x-detailsBtn) {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    width: 16rem;
    margin-top: 0px;
  }

  :global(.vtex-input__label) {
    font-size: 14px;
    font-family: "OpenSans";
    color: #898989;
  }

  :global(.vtex-address-form__postalCode) {
    padding-bottom: 2rem;
  }

  :global(.vtex-input-prefix__group) {
    :first-child {
      border: 2px solid #eeeeee !important;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
    }
  }
  
  :global(.vtex-profile-form-3-x-personalFields){
    :global(input[name="document"]){
      background-color: #f4f4f4;
    }
  }
 
  :global(.vtex-address-form-4-x-input) {
    border-bottom: solid #b8b5b5 thin;
  }
  :global(.vtex-my-account-1-x-profile) {
    font-size: 12px;
  }
  :global(.vtex-pageHeader-link__container) {
    :global(.vtex-button) {
      background: transparent !important;
      color: #525252 !important;
      :global(.ml3.ttu.t-action--small) {
        text-transform: initial;
      }
    }
  }
  :global(.vtex-button) {
    background: $primary;
    color: #fff;
    border: none;
  }
  :global(.vtex-button.bg-transparent) {
    background-color: transparent;
    color: #525225;
  }

  :global(.vtex-pageHeader__children) {
    :global(.vtex-button) {
      background: #fff;
      color: #666666;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-weight: 600;
    }
  }

  :global(.vtex-my-account-1-x-addressBox) {
    .boxContainerFooter {
      background-color: #fff;
      position: absolute;
      top: 15px;
      right: 0;
      bottom: auto;
      :global(.vtex-button__label) {
        background: url(https://gbarbosa.vteximg.com.br/arquivos/icon_edit.png)
          no-repeat center !important;
        font-size: 0 !important;
      }
    }

    @media screen and (max-width: em(768px)) {
      display: block;
    }
    :global(.vtex-button) {
      background-color: #fff;
      color: #666666;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-weight: 600;
    }
  }

  :global(.vtex-pageBody__button) {
    :global(.vtex-button) {
      background-color: #fff;
      color: #666666;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-weight: 600;
    }
  }

  :global(.vtex-my-account-1-x-boxContainerFooter) {
    :global(.vtex-button) {
      background-color: #fff;
      color: #666666;
    }
  }
}
@media (max-width: 768px) {
  .addressBox {
    display: flex !important;
    justify-content: space-between;
    overflow-x: auto;
    div {
      margin: 0 5px;
    }
  }
}
:global(.vtex-modal__confirmation) {
  :global(.vtex-button) {
    background: #ed1d25 !important;
  }
  :first-child {
    :global(.vtex-button) {
      background: #f6f6f6 !important;
      color: #333 !important;
    }
  }
}

:global(.vtex-account__page) {
  width: 100% !important;
  :global(.vtex-pageHeader__container) {
    padding-left: 1em !important;

    @media screen and (max-width: 768px) {
      :global(.vtex-pageHeader__children) {
        margin-top: 16px;
      }
    }
  }
}

:global(.vtex-order-placed-2-x-packageHeader--delivery) {
  br {
    display: none;
  }
}

:global(.vtex-account) {
  :global(.vtex-my-orders-app-3-x-productTable) {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    margin: 24px 2px 24px 0;
    padding: 38px 9px 30px 32px;
    border: 1px solid #e8e8e8;
  }
  :global(.vtex-my-orders-app-3-x-productName) {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
  }
  :global(.vtex-my-orders-app-3-x-productPrice) {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
  }
  :global(.vtex-my-orders-app-3-x-productQuantity) {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
  }
  :global(.vtex-my-orders-app-3-x-productTotalPrice) {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
  }
}

:global(.vtex-my-account-1-x-dataEntryLabel) {
  color: #898989;
  font-size: 14px;
}

:global(.vtex-my-account-1-x-dataEntryChildren) {
  color: #525252;
  font-size: 14px;
}

:global(.vtex-my-account-1-x-boxContainerBody) {
  background-color: #fff;
}

:global(.vtex-my-account-1-x-boxContainerFooter) {
  background-color: #fff;
  position: absolute;
  right: 15px;
  bottom: 5px;
}

:global(.vtex-my-account-1-x-profileBoxContainer),
:global(.vtex-account__page) {
  :global(.vtex-my-account-1-x-boxContainerFooter) {
    :global(.vtex-button) {
      border: none;
      box-shadow: none;
      :global(.vtex-button__label) {
        background-size: 25px;
        outline: 0 !important;
        background: #ed1d25;
        color: #fff;
        height: 40px;
        border-radius: 5px;
      }
    }
  }

  :global(.vtex-my-cards-1-x-boxContainer) {
    position: relative;

    :global(.vtex-my-cards-1-x-boxContainerBody) {
      padding: 22px;
    }

    :global(.vtex-my-cards-1-x-boxContainerFooter) {
      position: absolute;
      top: 50%;
      right: 28px;
      transform: translateY(-50%);

      :global(.vtex-button) {
        &::after {
          content: "";
          display: inline-block;
          width: 14px;
          height: 18px;
          background-image: url("data:image/svg+xml,%0A%3Csvg id='Group_1777' data-name='Group 1777' xmlns='http://www.w3.org/2000/svg' width='14' height='18' viewBox='0 0 14 18'%3E%3Cpath id='Path_7132' data-name='Path 7132' d='M6,19a2.006,2.006,0,0,0,2,2h8a2.006,2.006,0,0,0,2-2V7H6ZM18,4H15.5l-.71-.71a1.009,1.009,0,0,0-.7-.29H9.91a1.009,1.009,0,0,0-.7.29L8.5,4H6A1,1,0,0,0,6,6H18a1,1,0,0,0,0-2Z' transform='translate(-5 -3)' fill='%23898989'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-repeat: no-repeat;
        }

        :global(.vtex-button__label) {
          display: none;
        }
      }
    }
  }
}

:global(.vtex-my-account-1-x-passwordBoxContainer) {
  :global(.vtex-my-account-1-x-boxContainerFooter) {
    :global(.vtex-button__label) {
      background-size: 25px;
      outline: 0 !important;
    }
  }
}

:global(.vtex-my-account-1-x-boxContainer) {
  position: relative;
  border: 1px solid #dedede;
}

:global(.vtex-my-account-1-x-menu) {
  :global(.vtex-my-account-1-x-menuLinks) {
    a {
      &::before {
        font-weight: 400;
        font-size: 14px;
        color: #525252;
      }
    }

    a[href*="/wishlist-page"] {
      display: block;
      &::before {
        content: "Minhas listas";
      }
    }
    :global(.vtex-my-account-1-x-menuLink) {
      font-size: 0;
      &::before {
        font-size: 14px;
        color: #ed1d25;
        font-weight: 400;
        content: "Sair";
      }
    }
    a[href*="/shopping-list"],
    a[href*="/authentication"] {
      display: none;
    }
  }
}
:global(.vtex-my-account-1-x-profile) {
  :global(.vtex-my-account-1-x-dataEntryLabel),
  :global(.vtex-my-account-1-x-newsletterContainerTitle) {
    font-size: 14px;
    font-weight: bold;
    color: #525252;
  }
  :global(.vtex-my-account-1-x-dataEntryChildren),
  :global(.vtex-my-account-1-x-newsletterContainerMessage),
  :global(.vtex-checkbox__label) {
    font-size: 14px;
  }
}
:global(.newsletterContainerMessage) {
  color: #525252;
  margin-top: 5px;
}
:global(.vtex-account__page) {
  :global(.vtex-pageHeader__container) {
    :global(.vtex-pageHeader__children) {
      a[href*="#/addresses/new"],
      a[href*="#/cards/new"] {
        :global(.vtex-button) {
          width: 256px;
          height: 40px;
          background: #ed1d25;
          border: 1px solid #ed1d25;
          color: #fff;
          text-transform: initial;
          border-radius: 5px;
          opacity: 1;
        }
      }
    }
  }
}
.passwordBoxContainer {
  .boxContainerBody {
    padding-top: 3rem;
    padding-bottom: 4rem;
    .boxContainerFooter {
      bottom: 5px;
    }
  }
}
/*:global(.vtex-slider-layout-0-x-sliderTrack--carousel-brand),
:global(.vtex-flex-layout-0-x-flexCol--circle-mobile-col),
:global(.vtex-flex-layout-0-x-flexRowContent--circles-mobile){
  a {
    margin-bottom: 3rem;
      &::after {
        @media screen and (max-width: em(1024px)){
          display: none;
        }
        position: absolute;
        bottom: -20px;
        font-size: 16px;
        margin-bottom: 1.5rem;
        color: #525252;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
      }
    }

    a[href*="/141?map=productClusterIds"] {
      &::after {
        content: "Rebajas";
        left: 30%;
      }
    }

    a[href*="/143?map=productClusterIds"] {
      &::after {
        content: "Belleza";
        left: 34%;
      }
    }

    a[href*="/144?map=productClusterIds"] {
      &::after {
        content: "Salud";
        left: 36%;
      }
    }

    a[href*="/142?map=productClusterIds"] {
      &::after {
        content: "Electrónica";
        left: 22.5%;
      }
    }

    a[href*="/145?map=productClusterIds"] {
      &::after {
        content: "Vinos y Licores";
        left: 13%;
      }
    }

    a[href*="/146?map=productClusterIds"] {
      &::after {
        content: "Bebés y niños";
        left: 15%;
      }
    }
  }*/
:global(.vtex__icon-check),
:global(.vtex-radio__fakeRadioInner) {
  background: #ed1d25;
  border: #ed1d25;
}
:global(.vtex-search-result-3-x-filters--layout) {
  :global(.vtex-search-result-3-x-filtersWrapper) {
    :global(.vtex__icon-check) {
      background-color: transparent;
    }
    :global(.vtex-search-result-3-x-seeMoreButton) {
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
    }
    :global(.vtex-search-result-3-x-filter__container--brand) {
      :global(.vtex-search-result-3-x-filterTemplateOverflow) {
        max-height: 225px !important;
      }
    }
    :global(.vtex-search-result-3-x-filter__container--category-1) {
      :global(.vtex-search-result-3-x-filterTemplateOverflow) {
        max-height: 225px !important;
      }
    }
    :global(.vtex-search-result-3-x-filter__container--category-2) {
      :global(.vtex-search-result-3-x-filterTemplateOverflow) {
        max-height: 225px !important;
      }
    }
    :global(.vtex-search-result-3-x-filter__container--category-3) {
      :global(.vtex-search-result-3-x-filterTemplateOverflow) {
        max-height: 225px !important;
      }
    }
  }
}

:global(.vtex-menu-2-x-menuContainerNav) {
  :global(.vtex-button) {
    :global(.vtex-button__label) {
      span > div:last-child {
        font-weight: 600;
        font-size: 14px;
        font-family: OpenSans;
        margin-top: 5px;
        text-transform: none;
        color: #525252;
      }
    }
  }
}

:global(.vtex-account__order-details) {
  & > div:first-child {
    & > div:first-child {
      & div:first-child {
        display: none;
      }
    }
    & > div:nth-child(4n) {
      & > div:last-child {
        & > div:last-child {
          & > div:last-child {
            & > div:nth-child(5n) {
              & > div:last-child {
                & > span {
                  font-size: 0;
                  &::before {
                    font-size: 0.875rem;
                    content: "Em preparação";
                  }
                }
              }
            }
            & > div:nth-child(7n) {
              & > div:last-child {
                & > span {
                  font-size: 0;
                  &::before {
                    font-size: 0.875rem;
                    content: "Pedido enviado";
                  }
                }
              }
            }
            & > div:nth-child(9n) {
              & > div:last-child {
                & > span {
                  font-size: 0;
                  &::before {
                    font-size: 0.875rem;
                    content: "Pedido entregado";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    background: #fafafa;
    > div {
      display: flex;
      flex-direction: column;
      > div {
        &:nth-child(1) {
          order: 0;
        }
        &:nth-child(2) {
          order: 2;
        }
        &:nth-child(4) {
          order: 1;
        }
        &:nth-child(5) {
          order: 4;
        }
        > section {
          order: 3;
        }
      }
      > section {
        order: 3;
      }
    }
  }
}
@media (max-width: 768px) {
  :global(.myo-progress-bar.w-100.h4-plus) {
    display: flex;
    flex-direction: column;
    background: #fff;
    :global(.myo-progress-bar__title-font) {
      justify-content: center;
      display: flex;
    }
    :global(.myo-progress-bar__mobile-text) {
      order: 1;
      background: #fff;
    }
    > div:last-child {
      > div {
        display: flex;
        flex-direction: column;
        > div {
          &:first-child {
            order: 1;
            span {
              color: #898989;
              font-size: 13px;
              margin-top: 30px;
            }
          }
          &:last-child {
            order: 0;
            :global(.bg-success) {
              background-color: #2faf00;
            }
            :global(.b--success) {
              border-color: #2faf0081;
            }
            :global(.c-success) {
              color: #2faf00;
            }
          }
          justify-content: center;
          display: flex;
          align-items: center;
          > span {
            color: #525252;
          }
        }
      }
    }
  }
}
:global(.vtex-my-account-1-x-boxContainerBody) {
  :global(.vtex-profile-form-3-x-extendedFields),
  :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper),
  :global(.vtex-profile-form-3-x-businessFields) {
    display: none;
  }
}
:global(.vtex-my-account-1-x-profile){
  :global(.vtex-my-account-1-x-newsletterBoxContainer){
  display:none;
  }
}
.documentsSubContainer {
  display: none;
}

/* shelf price color fix  */
:global(.vtex-store-components-3-x-listPrice)
  + :global(.vtex-store-components-3-x-sellingPrice) {
  :global(.vtex-store-components-3-x-currencyContainer--summary) {
    font-size: 23px;
    font-weight: bold;
    color: #ed1d25;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
/* shelf price color fix - end */
:global(.flex.mw7-m) {
  > :global(.w-100) {
    :global(.overflow-y-auto) {
      overflow-x: hidden;
    }
    :global(.vtex-alert.flex.justify-between.t-body.c-on-base.ph5.pv4.br2.bg-warning--faded) {
      display: none;
    }
  }
}
:global(#onetrust-banner-sdk) {
  bottom: 5% !important;
  top: auto !important;
  max-width: 100% !important;
  width: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  :global(#onetrust-accept-btn-handler),
  :global(#onetrust-pc-btn-handler) {
    background: #f4f4f4 !important;
    border: 1px solid #525252 !important;
    color: #525252 !important;
  }
  :global(.ot-sdk-row) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    :global(#onetrust-group-container) {
      width: 70% !important;
    }
    :global(#onetrust-button-group-parent) {
      width: 35% !important;
      margin-top: 20px;
    }
  }
}

:global(.vtex-profile-form-3-x-styleguideInput) {
  :global(.vtex-input-prefix__group) {
    input[name="birthDate"],
    input[name="document"],
    input[name="homePhone"] {
      &::placeholder {
        font-size: 0;
      }
    }
  }
}

:global(.vtex-profile-form-3-x-genderInput) {
  :global(.vtex-dropdown__button.gray) {
    :global(.vtex-dropdown__caption) {
      display: none;
    }

    :global(.vtex-dropdown__arrow) {
      margin-left: auto;
    }
  }

  option:first-child {
    display: none;
  }
}

@media (max-width: 768px) {
  :global(.vtex-pageHeader__container) {
    > div {
      &:last-child {
        position: relative;
        :global(.vtex-pageHeader__children) {
          position: absolute;
          top: 240px;
          right: 30%;
          a {
            button {
              white-space: nowrap !important;
              width: 150px !important;
              padding: 0 !important;
              height: 32px !important;
              font-size: 14px !important;
              margin: 0 auto !important;
            }
          }
        }
      }
    }
  }
  :global(.vtex-my-account-1-x-addressList) {
    margin-bottom: 50px;
  }
}
