@import "./references";

@media (min-width: em(1026px)) {
  .suggestionListWrapper {
    display: flex;
    align-items: flex-end;
  }
}
:global(.vtex-store-components-3-x-portalContainer--search-main) {
  z-index: 4 !important;
  position: absolute !important;
  .biggy-autocomplete-wrapper {
    max-width: 615px;
    top: 30px;
    left: -20px;
    width: calc(100% + 135px);
    display: grid !important;
    border-radius: 20px;
    z-index: 0;
    position: relative;
    .biggy-autocomplete {
      grid-template-columns: 27% 73% !important;
      padding-top: 100px;
      display: grid;
      border-radius: 20px;
      left: 0;
    }
  }
}
.tileList {
  :global(.vtex-product-summary-2-x-containerNormal) {
    background: #fff;
    :global(.vtex-stack-layout-0-x-stackItem--quickview) {
      display: none !important;
    }
  }
}

.didYouMeanTerm {
  :first-child {
    color: $primary;
  }
}

.didYouMeanPrefix {
  margin-bottom: 1em;
  display: inline-block;
  margin-right: 0.3em;
}

.tileListItem {
  :global(.vtex-product-summary-2-x-element)
    :global(.vtex-store-components-3-x-price_installmentContainer--summary) {
    text-align: left !important;
    &::after {
      margin-top: 0;
    }
  }
}
.biggy-autocomplete-wrapper {
  max-width: 560px;
  @media screen and (max-width: 768px) {
    width: calc(100vw - 16px);
  }
  .biggy-autocomplete {
    box-shadow: none;

    .tileListTitle {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid #fff;
      background-color: #ed1d25;
      border-radius: 20px;
    }

    .itemListTitle {
      color: #525252;
      font-size: 14px;
      font-weight: bold;
      text-transform: initial;
    }
    .itemListPrefix {
      color: #525252;
      font-weight: 400;
    }
    .itemListLinkTitle {
      color: #525252;
    }
    .itemListSubItemLink {
      padding: 0 20px;
    }
    .tileListItem {
      box-sizing: content-box;
      margin: 12px 0;

      :global(.vtex-product-summary-2-x-containerNormal) {
        height: auto !important;
        max-width: inherit !important;
        border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: none;

        :global(.vtex-product-summary-2-x-element) {
          :global(.vtex-button) {
            width: 22px !important;
            min-height: 22px !important;
            position: inherit;
            display: flex;
            align-items: center;
            justify-content: center;

            :global(.vtex-button__label) {
              display: none;
            }

            &::after {
              content: "";
              width: 8px;
              height: 8px;
              display: inline-block;
              background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.461' height='8.461' viewBox='0 0 8.461 8.461'%3E%3Cpath id='Path_36486' data-name='Path 36486' d='M23.4,3.173H21.288V1.058a1.058,1.058,0,1,0-2.115,0V3.173H17.058a1.058,1.058,0,0,0,0,2.115h2.115V7.4a1.058,1.058,0,1,0,2.115,0V5.288H23.4a1.058,1.058,0,1,0,0-2.115Z' transform='translate(-16)' fill='%23fff'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }

          :global(.vtex-numeric-stepper-container) {
            max-width: 128px;

            :global(.vtex-numeric-stepper__input) {
              min-width: 22px !important;
            }
          }

          @media screen and (max-width: 767px) {
            margin-right: 0;

            :global(.vtex-numeric-stepper__plus-button),
            :global(.vtex-numeric-stepper__minus-button) {
              width: 22px !important;
            }
          }
        }
      }

      :global(.vtex-numeric-stepper-wrapper) {
        position: absolute;
        top: calc(50% - 17px) !important;
        :global(.vtex-numeric-stepper-container) {
          margin-left: auto;
        }
      }

      :global(.vtex-product-summary-2-x-container--compact) {
        max-width: initial !important;
      }  

      :global(.vtex-product-summary-2-x-nameContainer) {
        padding: 0;
        height: 40px;

        :global(.vtex-product-summary-2-x-productBrand) {
          font-size: 12px;
          font-weight: 500;
        }
      }

      :global(.vtex-product-summary-2-x-element) {
        height: auto;
        padding-bottom: 0px;
      }

      :global(.vtex-store-components-3-x-priceContainer) {
        margin: 0;

        :global(.vtex-store-components-3-x-listPrice) {
          margin: 0;

          :global(.vtex-store-components-3-x-listPriceValue) {
            padding: 0;

            :global(.vtex-store-components-3-x-currencyContainer) {
              font-weight: 400;
              color: #898989;
            }
          }
        }

        :global(.vtex-store-components-3-x-sellingPrice) {
          font-size: inherit;

          :global(.vtex-store-components-3-x-currencyContainer) {
            font-size: 12px;
            color: #525252;
          }
        }
      }
    }

    .itemList--suggestion {
      max-width: 200px;
      overflow: unset;
    }

    .tileListList {
      justify-content: left;
      padding: 0 20px;

      @media screen and (max-width: 767px) {
        padding: 0 8px;
      }
    }
    .tileList {
      border: 0;
    }

    @media screen and (max-width: 767px) {
      max-height: 508px;

      :global(.vtex-product-summary-2-x-image) {
        max-width: 54px !important;
      }
    }
  }
}
