.stackItem--product {
  width: 100%;
}
.stackItem--savings-porcentaje {
  top: 0;
  right: 0;
  z-index: 0 !important;
}
.stackItem--add-wishlist {
  left: auto;
  right: 0;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--gbarbosa-odonto{
  height: 100%;
}

.stackItem--vale-gas:last-child{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-70%);
}

@media screen and (max-width: 767px) {
  .stackItem--vale-gas-mobile:last-child{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 264px;
  }
}
