@import "./references";

.minicartTitle {
  position: absolute;
  top: 14px;
  left: 36px;
  color: #fff;
  font-size: 0px;
  z-index: 99;
  padding-left: 1rem;

  &::after {
    content: "Meu carrinho";
    font-size: 18px;
    font-family: OpenSans;

    @media screen and (max-width: 60em) {
      padding-left: 15px;
    }
  }
}
.minicartContentContainer {
  :global(.vtex-product-list-0-x-availabilityMessageTextContainer) {
    font-size: 11px;
  }
  :global(.vtex-styleguide-9-x-input) {
    border-color: #e3e4e6;
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
  }
  .popupChildrenContainer {
    margin-top: 0;
  }
  :global(.vtex-product-list-0-x-productBrandName) {
    display: none;
  }

  :global(.vtex-product-list-0-x-productName) {
    font-size: 13px;
  }
  :global(.vtex-product-list-0-x-productPriceContainer) {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    :global(.vtex-product-list-0-x-productPriceCurrency) {
      margin-bottom: 0;
      margin-right: 1em;
    }
  }

  :global(.vtex-product-list-0-x-productImage) {
    max-height: 144px;
    width: auto;
  }

  :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    display: none;
  }

  :global(.vtex-numeric-stepper__input) {
    border-right: none;
    border-left: none;
    outline: 0 !important;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 32px;
    font-size: 13px;
    width: 50px !important;
    color: #525252;
  }

  :global(.vtex-numeric-stepper__minus-button) {
    border-radius: 5px;
    border: 1px solid #dedede;
    border-right: none;
    height: 32px;
  }
  :global(.vtex-numeric-stepper__minus-button__text) {
    color: #898989 !important;
  }
  :global(.vtex-numeric-stepper__plus-button) {
    border-radius: 5px;
    border: 1px solid #dedede;
    border-left: none;
    outline: 0 !important;
    height: 32px;
  }

  :global(.vtex-minicart-custom-contentBtns) {
    :global(.vtex-button) {
      min-height: 32px;
      font-size: 12px;
      text-transform: lowercase;
      background-color: #fff;
      color: #525252;
      margin-right: 8px;
      margin-top: 8px;

      :global(.vtex-button__label) {
        padding-left: 10px;
        padding-right: 10px;
        width: 4.1rem;
      }
    }
  }
}

.minicartIconContainer {
  .minicartQuantityBadge {
    border: 2px solid #ffd500;
    background-color: #ffd500;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    height: 13px;
    width: 13px;
    font-size: 12px;
    font-weight: bold;

    @media (max-width: em(768px)) {
      height: 11px;
      width: 10px;
    }
  }

  &::before {
    content: "";
    display: block;
    background: url(https://gbarbosa.vteximg.com.br/arquivos/icon_minicart_header2.svg?v=1)
      no-repeat 50%;
    background-size: 23px 23px !important;

    @media screen and (min-width: em(1024px)) {
      width: 23px;
      height: 23px;
    }

    @media (max-width: em(1023px)) {
      width: 23px;
      height: 23px;
      background-size: 23px 23px !important;
    }

    @media (max-width: 768px) {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon_cart' width='24' height='24' viewBox='0 0 24 24'%3E%3Crect id='Retângulo_2247' data-name='Retângulo 2247' width='24' height='24' fill='none'/%3E%3Cpath id='Caminho_7398' data-name='Caminho 7398' d='M.451,0A.7.7,0,0,0,.646,1.394h2.4c.4,0,.525.08.628.174a1.448,1.448,0,0,1,.346.676L7.268,13.357q.009.033.022.065A3.121,3.121,0,0,0,10,15.34h5.432a.7.7,0,0,0,0-1.395H10A1.662,1.662,0,0,1,8.567,12.9s-.1-.325-.108-.349h5.627a1.185,1.185,0,0,0,1.1-.828l2.489-5.382c.385-.93.184-2.157-1.234-2.157H6.4a1.374,1.374,0,0,0-.368.065c-.249-.853-.642-2.225-.693-2.4A2.75,2.75,0,0,0,4.606.523,2.264,2.264,0,0,0,3.048,0H.646Q.614,0,.581,0T.516,0Q.484,0,.451,0ZM6.619,5.622H9.541V6.864H7.009L6.684,5.818C6.661,5.741,6.628,5.675,6.619,5.622Zm3.83,0h1.861V6.864H10.45Zm2.77,0h3.2a.777.777,0,0,1-.043.153l-.5,1.09H13.22ZM7.29,7.779H9.541V8.956H7.658Zm3.16,0h1.861V8.956H10.45Zm2.77,0h2.229l-.541,1.177H13.22ZM7.939,9.871h1.6v1.242H8.394a.119.119,0,0,1-.065-.022Zm2.51,0h1.861v1.242H10.45Zm2.77,0H14.5l-.584,1.242H13.22Zm-3.571,5.6A1.264,1.264,0,1,0,10.9,16.735,1.259,1.259,0,0,0,9.649,15.471Zm4.155,0a1.264,1.264,0,1,0,1.255,1.264A1.259,1.259,0,0,0,13.8,15.471Z' transform='translate(2.205 3.013)' fill='%23f4f4f4'/%3E%3C/svg%3E")
        no-repeat;
    }
  }

  .cartIcon {
    display: none;
  }
}

.minicartEmptyStateContainer {
  padding-left: 1.5rem;

  :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 0;

    &::before {
      content: "Seu carrinho está vazio";
      font-size: 16px;
      margin-top: 15px;
    }
  }
}
.openIconContainer {
  @media (max-width: em(768px)) {
    padding: 0;
  }
}
.minicartContainer {
  :global(.vtex-button) {
    :global(.vtex-button__label) {
      padding: 0 !important;
    }
  }

  @media screen and (max-width: em(768px)) {
    margin: 0 12px;
  }
}
.minicartWrapperContainer {
  @media (max-width: em(768px)) {
    margin-right: 0px !important;
    padding-right: 0px;
  }
  @media screen and (min-width: em(320px)) {
    border-right: none;
    margin: 0;
    &::before {
      content: "";
      margin-right: 0;
    }
  }
  @media screen and (min-width: em(1024px)) {
    margin: 24px 0 24px 23px;
    padding-right: 10px;
    height: 24px;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
  .minicartWrapperContainer {
    .minicartContainer {
      :global(.vtex-minicart-2-x-minicartWrapperContainer) {
        :global(.vtex-button) {
          background-color: transparent !important;
        }
      }
      :global(.vtex-button) {
        outline: none !important;
        background: none !important;
        border: none !important;
      }
    }
  }
}
.minicartProductListContainer {
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}

:global(.vtex-toast) {
  // display: none;
  display: flex !important;
  background: $primary;
}

:global(.vtex-toast) {
  position: fixed;
  bottom: 0;
  width: 100%;
}
:global(.vtex-toast-container) {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.minicartProductListContainer {
  overflow-x: hidden !important;
  margin-top: 75px;
}

:global(.vtex-minicart-2-x-cartIcon) {
  display: none;
}

:global(.vtex-minicart-2-x-minicartCheckoutButton) {
  padding-left: 0px;
  padding-right: 0px;

  :global(.vtex-button) {
    background-color: #ed1d25;
    border-color: #ed1d25;

    &:hover {
      border-color: #ed1d25;
    }
  }

  :global(.vtex-button__label) {
    font-size: 0px;
    padding-left: 5px;
    padding-right: 5px;

    &::before {
      content: "Finalizar pedido";
      font-size: 14px;
      font-weight: 600;
      text-transform: none;
    }
  }
}
.childrenContainer {
  height: 100vh;
  .minicartSideBarContentWrapper {
    height: 100vh !important;
  }
}
:global(.vtex-checkout-summary-0-x-summarySmallContent) {
  :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
    color: #ed1d25;
  }
}

:global(.vtex-checkout-summary-0-x-summaryItemPrice) {
  :global(.vtex-checkout-summary-0-x-price) {
    color: #525252 !important;
    font-weight: bold;
  }
}

:global(.vtex-minicart-2-x-minicartProductListContainer) {
  &::-webkit-scrollbar-thumb {
    background: #ed1d25 !important;
  }
}

:global(.vtex-minicart-2-x-popupBoxPosition) {
  right: -95px !important;
  width: 400px !important;
}

:global(.vtex-button__label-closeminicart) {
  color: #ed1d25;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.vtex-minicart-2-x-closeIconContainer) {
  background-color: #ed1d25;
  position: absolute;
  width: 100%;
  z-index: 3;

  :global(.vtex-minicart-2-x-closeIcon) {
    color: #fff;
  }
}

:global(.vtex-minicart-2-x-closeIconButton) {
  z-index: 999;
  outline: none;
}

/*:global(.vtex-minicart-totalizer-label) {
  & > span{
    font-family: OpenSans;
  }
}*/

@media (max-width: 768px) {
  .drawer {
    width: 95% !important;
  }
}
