#custom-bolsas-reutilizables-container {
  .bolsas-reutilizables-wrapper {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000a;
    border-radius: 5px;
    padding: 16px;
    .title {
      font-weight: bold;
      font-size: 1.4rem;
      color: #525252;
    }
    .buttons-container {
      display: flex;
      margin-top: 16px;
      justify-content: space-around;
      align-items: center;
      button {
        width: 104px;
        height: 32px;
        font-weight: bold;
        background: none;
        border-radius: 5px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        transition: all 0.3s ease-in-out;
        &.button-bolsasreutilizables {
          background: #ffffff;
          border: 1px solid #0075C9;
          color: #0075C9;
          &:hover {
            background: #368ee6;
            color: #fff;
          }
          &:active {
            background: #1768b8;
          }

          &.active {
            background: #0075C9;
            color: #ffffff;
            &:hover {
              background: #368ee6;
              color: #fff;
            }
            &:active {
              background: #1768b8;
            }
          }
        }
      }
    }
  }
}
