#custom-datos-facturacion {
  @media (min-width: em(768px)) {
    width: 260px;
  }
  width: 100%;

  .btn.secondary.custom-btn{
    font-size: 1.15rem;
  }

  .cta.factura {
    font-size: 1.3rem;
    margin: 1rem 1rem;
  }

  .facturacion-modal {
    margin: 0 1rem;
  }

  .facturacion-accordion {
    .facturacion-accordion-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $very-light-gray;
      color: $dark-gray !important;
      border-radius: 5px;
      min-height: 48px;
      margin: 0 1rem;

      & > div {
        width: 100%;
        padding: 1.5rem;
      }

      form {
        margin: 2rem 0;
      }
    }
  }
}
.vtex-modal__modal {
  background: $very-light-gray;
  width: auto;
  height: auto;
  border-radius: 5px;

  div.facturacion-modal-container {
    width: 672px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      margin: 1.5rem 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-top: 2rem;

      button.btn.primary {
        margin-top: 21px;
      }
    }
  }
}
