i.icon-edit {
  font-size: 0;
  &::before {
    content: ""!important;
    width: 16px;
    /* font-size: 0; */
    background-image: url(/arquivos/icon_edit.png);
    /* background-size: 2rem; */
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
