/** MODAL **/
.body-order-form {
  #shipping-data {
    .step.accordion-group.shipping-data {
      .accordion-inner.shipping-container {
        .vtex-pickup-points-modal-3-x-modalBackdrop {
          background: #000;
          opacity: 0;
          //z-index: 9999;
        }
        .vtex-pickup-points-modal-3-x-pkpmodal {
          border-radius: 5px;
          .vtex-pickup-points-modal-3-x-modalSearchIcon {
            //margin-top: 10px;
            display: none;
          }
          .vtex-pickup-points-modal-3-x-closeButton {
            box-shadow: none;
            border: 0;
          }
          .vtex-pickup-points-modal-3-x-modalHeader {
            border: 0;
            margin: 0;
            padding: 0;
            p.vtex-pickup-points-modal-3-x-modalTitle.pkpmodal-title {
              font-size: 0px;
              color: #000;
              width: 100%;
              max-width: inherit;
              font-weight: 500;
              margin: 0;
              padding: 20px;
              display: block;
              &:before {
                content: "Elige un punto de recolección";
                font-size: 16px;
              }
            }
          }

          .vtex-pickup-points-modal-3-x-locationSummary {
            align-items: center;
            display: flex;
            flex: none;
            font-size: 14px;
            margin: 0;
            padding: 0 20px;
            font-weight: 400;
            svg {
              width: 25px;
              height: 25px;
              margin-right: 8px;
              path {
                fill: #ed1d25 !important;
              }
            }
            button.vtex-pickup-points-modal-3-x-locationReset.pkpmodal-location-reset {
              font-size: 16px;
              color: #ed1d25;
              font-weight: 600;
              margin: 0;
              padding: 0 15px;
              display: block;
              text-decoration: underline;
              outline: 0;
              border: 0;
            }
          }
          /*
          .vtex-pickup-points-modal-3-x-pointsList {
            margin: 0;
            padding: 20px;
            p.vtex-pickup-points-modal-3-x-pickupListTitle {
              color: #000;
              font-size: 14px;
              font-weight: 400;
              margin: 0;
              padding: 0;
            }
            .vtex-pickup-points-modal-3-x-pointsItem {
              cursor: pointer;
              margin: 15px 0;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
              transition: 0.5s ease-in-out;
            }
            .pkpmodal-points-item {
              &:hover {
                .pkpmodal-pickup-point {
                  background-color: #fafafa;
                  border-color: #7f7f7f;
                  -webkit-transition: 0.5s ease-in-out;
                  -moz-transition: 0.5s ease-in-out;
                  -ms-transition: 0.5s ease-in-out;
                  -o-transition: 0.5s ease-in-out;
                  transition: 0.5s ease-in-out;
                }
              }
              .vtex-pickup-points-modal-3-x-pickupPoint.pkpmodal-pickup-point {
                svg {
                  path {
                    &:nth-child(1) {
                      fill: #ed1d25;
                    }
                    &:nth-child(2) {
                      fill: #fff;
                    }
                  }
                }
                p.vtex-pickup-points-modal-3-x-pickupPointName.pkpmodal-pickup-point-name {
                  font-size: 16px;
                  color: #000;
                  font-weight: 600;
                  margin: 0;
                  padding: 0;
                }
                .vtex-pickup-points-modal-3-x-pickupPointAddress.pkpmodal-pickup-point-address.list {
                  font-size: 14px;
                  color: #7f7f7f;
                  margin: 10px 0;
                  text-align: justify;
                  font-weight: 400;
                }
                span.undefined.pkpmodal-pickup-point-available {
                  font-size: 14px;
                  color: #000;
                  margin: 0;
                  text-align: justify;
                  font-weight: 400;
                }
              }
              .vtex-pickup-points-modal-3-x-pickupPointSlaAvailabilityPostalCode {
                span {
                  font-size: 13px;
                  color: #000;
                  text-align: justify;
                  font-weight: 400;
                }
              }
              p.vtex-pickup-points-modal-3-x-pickupPointDistance.pkpmodal-pickup-point-distance {
                font-size: 14px;
                margin: 0;
                padding: 10px 0;
                font-weight: 400;
              }
            }
            button#pkpmodal-show-list-btn {
              font-size: 16px;
              color: #ed1d25;
              font-weight: 600;
              margin: auto;
              display: block;
              text-decoration: underline;
              width: auto;
              border: 0;
              box-shadow: none;
              text-transform: inherit;
            }
          }
          .vtex-pickup-points-modal-3-x-modalDetailsTop.pkpmodal-details-top {
            button.vtex-pickup-points-modal-3-x-modalDetailsBackLnk.pkpmodal-details-back-lnk.btn.btn-link {
              font-size: 16px;
              color: #000;
              width: 100%;
              max-width: inherit;
              font-weight: 500;
              margin: 0;
              padding: 20px;
              display: block;
              outline: 0;
              border: 0;
              svg {
                path {
                  fill: #000;
                }
              }
            }
          }
          .vtex-pickup-points-modal-3-x-modalDetailsMiddle.pkpmodal-details-middle {
            padding: 0 20px;
            border: 0;
            margin: 0;
            padding: 20px;
            background: 0;
            .vtex-pickup-points-modal-3-x-pickupPoint.pkpmodal-pickup-point {
              p.vtex-pickup-points-modal-3-x-pickupPointName.pkpmodal-pickup-point-name {
                font-size: 16px;
                color: #000;
                font-weight: 600;
                margin: 0;
                padding: 0;
              }
            }
            .vtex-pickup-points-modal-3-x-modalDetailsStore.pkpmodal-details-store {
              margin: 15px 0;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
              transition: 0.5s ease-in-out;
              padding: 0;
              &:hover {
                .pkpmodal-pickup-point {
                  background-color: #fafafa;
                  border-color: #7f7f7f;
                  -webkit-transition: 0.5s ease-in-out;
                  -moz-transition: 0.5s ease-in-out;
                  -ms-transition: 0.5s ease-in-out;
                  -o-transition: 0.5s ease-in-out;
                  transition: 0.5s ease-in-out;
                }
              }
              .vtex-pickup-points-modal-3-x-pickupPoint.pkpmodal-pickup-point {
                svg {
                  path {
                    &:nth-child(1) {
                      fill: #ed1d25;
                    }
                    &:nth-child(2) {
                      fill: #fff;
                    }
                  }
                }
                .vtex-pickup-points-modal-3-x-pickupPointDistance.pkpmodal-pickup-point-distance {
                  font-size: 14px;
                  margin: 0;
                  padding: 10px 0;
                  font-weight: 400;
                }
                span.undefined.pkpmodal-pickup-point-available {
                  font-size: 14px;
                  color: #000;
                  margin: 0;
                  text-align: justify;
                  font-weight: 400;
                }
              }
              .vtex-pickup-points-modal-3-x-pickupPointAddress.pkpmodal-pickup-point-address {
                font-size: 14px;
                color: #7f7f7f;
                margin: 10px 0;
                text-align: justify;
                font-weight: 400;
              }
              .vtex-pickup-points-modal-3-x-pickupPointSlaAvailabilityPostalCode {
                span {
                  font-size: 13px;
                  color: #000;
                  text-align: justify;
                  font-weight: 400;
                }
              }
            }
            .vtex-pickup-points-modal-3-x-modalDetailsInfo.pkpmodal-details-info {
              padding: 0;
              margin: 30px 0;
              h3.vtex-pickup-points-modal-3-x-modalDetailsInfoTitle.title.pkpmodal-details-info-title {
                color: #000;
                width: 100%;
                max-width: inherit;
                font-weight: 500;
                margin: 15px 0;
                display: block;
                outline: 0;
                border: 0;
                font-size: 16px;
              }
              .undefined.pkpmodal-product-items {
                margin: 0;
                padding: 0;
                .vtex-pickup-points-modal-3-x-productItem {
                  border: 0;
                  display: inline-block;
                  margin: 0 15px 0 0;
                  padding: 0;
                  height: 50px;
                  width: 50px;
                  img {
                    max-width: initial;
                    width: 100%;
                    display: block;
                  }
                }
              }
              h3.vtex-pickup-points-modal-3-x-modalDetailsInfoTitle.pkpmodal-details-info-title {
                color: #000;
                width: 100%;
                max-width: inherit;
                font-weight: 500;
                margin: 15px 0;
                display: block;
                outline: 0;
                border: 0;
                font-size: 16px;
              }
              .vtex-pickup-points-modal-3-x-modalDetailsHours {
                td {
                  border-bottom: 1px solid #ccc;
                  padding: 10px 0;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
          .vtex-pickup-points-modal-3-x-pickupDetailsHeader.pkpmodal-details-header {
            padding: 0 20px;
            border: 0;
            p.vtex-pickup-points-modal-3-x-pickupDetailsHeaderTitle.pkpmodal-details-header-title {
              font-size: 14px;
              color: #000;
              width: 100%;
              max-width: inherit;
              font-weight: 400;
              margin: 0;
              padding: 0;
              display: block;
            }
            .undefined.pkpmodal-details-header-buttons {
              display: flex;
              border: 0;
              margin: 0;
              padding: 0;
              outline: 0;
              .vtex-pickup-points-modal-3-x-pickupDetailsHeaderButton {
                height: 35px;
                width: 35px;
                border-left: 0;
                color: #ed1d25;
              }
              .vtex-pickup-points-modal-3-x-firstOrLast {
                color: #7f7f7f;
              }
            }
          }
          .vtex-pickup-points-modal-3-x-modalDetailsBottom.pkpmodal-details-bottom {
            button.undefined.pkpmodal-details-confirm-btn.vtex-pickup-points-modal-3-x-btn.pkp-modal-btn.vtex-pickup-points-modal-3-x-primary.pkp-modal-btn-primary.vtex-pickup-points-modal-3-x-block.pkp-modal-btn-block.vtex-pickup-points-modal-3-x-lg.pkp-modal-btn-lg {
              font-size: 16px;
              color: #ed1d25;
              font-weight: 600;
              margin: auto;
              display: block;
              text-decoration: underline;
              width: auto;
              border: 0;
              box-shadow: none;
              background: transparent;
              text-transform: inherit;
            }
          }
          .vtex-pickup-points-modal-3-x-modalfullPage.pkpmodal-full-page {
            .vtex-pickup-points-modal-3-x-searchAlone.pkpmodal-search-alone {
              padding: 40px 0;
              margin: 20px;
              svg {
                path {
                  &:nth-child(1) {
                    fill: #f4f4f4;
                  }
                  &:nth-child(2) {
                    fill: #ed1d25;
                  }
                }
              }
              h2.vtex-pickup-points-modal-3-x-searchAloneTitle.pkpmodal-search-alone-title {
                font-size: 0;
                color: 0;
                font-weight: 600;
                margin: auto;
                display: block;
                text-decoration: none;
                width: auto;
                border: 0;
                box-shadow: none;
                background: transparent;
                &:before {
                  font-size: 18px;
                  content: "Por favor, ingresa tu código postal";
                }
              }
              h3.vtex-pickup-points-modal-3-x-searchAloneSubtitle.pkpmodal-search-alone-subtitle {
                display: none !important;
              }
              .vtex-pickup-points-modal-3-x-askGeolocationBtn {
                background: transparent;
                border: 0;
                border-left: 0;
                margin: 0;
                padding: 8px;
                svg.pkpmodal-use-geolocation-icon {
                  width: 25px;
                  height: 25px;
                  path {
                    fill: #ed1d25;
                  }
                }
              }
              input {
                position: relative;
                z-index: 6;
                width: auto;
                padding: 0 10px;
                outline: 0;
                background: #fff;
                height: 40px;
                font-size: 14px;
                font-weight: 400;
                border: solid 1px #ccc;
                text-shadow: none;
                box-shadow: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                color: #000;
                margin: 10px 0;
              }
            }
          }
          */
        }
      }
    }
  }
}
