#vtexIdUI-global-loader {
  opacity: 0.7 !important;
  background-color: #333 !important;
}
#vtexIdContainer {
  font-family: "Bogle", "Montserrat", sans-serif !important;
  .vtexIdUI {
    box-shadow: none;
    border: none;
    .vtexIdUI-page {
      .modal-header {
        position: relative;
        padding: 9px 15px;
        background: #fff;
        border-bottom: none;
        .vtexIdUI-close {
          border: 0;
          font-size: 32px;
          position: absolute;
          right: 1px;
          top: -4px;
          background: #fff;
          padding: 0px 0px;
          line-height: 100%;
          color: #ed1d25;
          padding-top: 0;
          text-shadow: none;
          opacity: 1;
        }
        .vtexIdUI-header {
        }

        h4.vtexIdUI-heading {
          span[data-i18n="vtexid.selectAuthOption"] {
            font-size: 0;
            &::before {
              content: "Por favor inicia sesión para realizar ajustes en tu información personal";
              font-size: 1.6rem;
              display: block;
              text-align: center;
              margin-top: 12px;
              color: #666;
              font-weight: normal;
            }
          }
        }
      }

      .modal-body {
        ul.vtexIdUI-providers-list {
          li {
            button#vtexIdUI-custom-oauth {
              display: inline-block;
              overflow: hidden;
              padding: 4px 12px;
              margin-bottom: 0;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              cursor: pointer;
              color: #ffffff;
              text-shadow: none;
              background-color: #ed1d25;
              background-image: none;
              border-radius: 4px;
              border: none;
              box-shadow: none;
              position: relative;
              span[data-i18n="vtexid.enterWith"] {
                font-size: 0;
                &::before {
                  content: "Ingresa con";
                  font-size: 1.8rem;
                  font-weight: bold;
                }
              }
              span.vtexIdUI-providers-name {
                font-size: 1.8rem;
                font-weight: bold;
                position: relative;
                color: transparent;
                &::after {
                  content: "";
                  background: url(https://walmartcr.vteximg.com.br/arquivos/Logo_walmart.png)
                    0 0 no-repeat;
                  background-size: contain;
                  width: 98px;
                  height: 30px;
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin-top: 1px;
                  margin-left: -1px;
                }
              }
            }
            button#loginWithAccessKeyBtn {
              background: #ed1d25;
              background-image: none;
              box-shadow: none;
              border-radius: 4px;
              border: none;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              text-shadow: none;
              .vtexid-icon-mail {
                display: none;
              }
            }
            button#loginWithUserAndPasswordBtn {
              background: #fff;
              box-shadow: none;
              border-radius: 4px;
              border: 1px solid #ed1d25;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ed1d25;
              text-shadow: none;
              &:hover {
                background: #ed1d25;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .btn.btn-large.btn-success {
    background: #ed1d25;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
